[2014-10-23 07:54] fbiville opened #1 "Implement notion of changelog and changeset"
A changelog is a set of changelog xor changesets.

Both are defined relatively to the classpath.

A changelog can either include other changelogs or changesets.

A changeset is defined by 1 Cypher query. It is uniquely identified by a mandatory logical ID. It has also the following mandatory author attribute. Changesets are immutable and run only once by default.

The declaration order of changese

[2014-10-23 07:59] fbiville opened #2 "Implement notion of context"
A context is a user-defined identifier, declared at changeset level.

A context is specified at execution time. If none are defined, all changesets will be executed.
If contexts are defined, one match amongst them is enough for candidate changesets to be executed.

[2014-10-23 08:12] fbiville opened #3 "Implement notion of precondition"
A precondition acts as a guard and is defined by a Cypher statement resulting in a boolean result. The result should be named "result", e.g.:

[code]

is a valid precondition query, whereas:

[code]

is not. `bob` should be of boolean type and aliased or directly named `result`.

It is defined at changeset level. If the Cypher precondition fails, the user must define an error policy: either MARK_A

[2014-10-23 08:20] fbiville opened #4 "Allow changesets to run on change and/or run always"
While changesets are immutable and incremental by default, the user should be able to specify, at changeset level, that :
- The changeset can be executed if its contents have changed (run on change)
- The changeset should be executed all the time (run always)

Note that a changeset can be run always but not allowed to change (run always = true, run on change = false) ;)

[2014-10-23 09:21] fbiville opened #5 "Publish Liquigraph executable artefacts"
3 modes should be available :
- full Java (JSR 330)
- maven plugin
- shell script

[2014-10-25 19:05] #1 closed, assigned to fbiville

[2014-10-26 15:24] #2 closed, assigned to fbiville

[2014-10-26 15:32] fbiville opened #8 "[Core] Allow nested changelogs"
Currently, all changesets have to be declared within the same changelog.
Allowing nested changelogs would allow to organize changesets as users see fit, e.g. per software release.

[2014-10-27 13:32] #4 closed, assigned to fbiville

[2014-10-27 15:16] fbiville opened #9 "Allow nested and/or preconditions"

[2014-10-27 15:27] fbiville opened #10 "[Core] Define XML schema"
... thus preventing users from typos and helping them with autocompletion and this kind of goodies.

[2014-10-29 11:33] fbiville opened #12 "Introduce "dry-run" execution mode"
It just outputs the Cypher queries that would be executed, in order, in `target/output.cypher`.

[2014-10-31 15:16] #3 closed, assigned to fbiville

[2014-11-05 12:17] #9 closed, assigned to fbiville

[2014-11-13 04:04] fbiville opened #15 "Embedded Graph DB users cannot use Liquigraph right now"
Indeed, only 1 process can access a given graph directory at once, and Liquigraph tries to start a new instance based on the dir URI.

The only option is to allow users to directly pass a GraphDatabaseService to Configuration(Builder).

[2014-11-13 04:55] #15 closed, assigned to nobody

[2014-11-13 04:55] #12 closed, assigned to nobody

[2014-11-13 17:03] fbiville opened #16 "Parameterize Travis build with all Neo4j v2+ versions"

[2014-11-14 22:38] fbiville opened #17 "Do not use ExecutionEngine for remote DB"
As advised by @jexp, https://github.com/neo4j-contrib/neo4j-jdbc is the way to go!
It'll actually make Liquigraph configuration easier \o/

[2014-11-26 12:26] #17 closed, assigned to fbiville

[2014-11-27 02:28] #16 closed, assigned to nobody

[2014-11-27 03:20] fbiville opened #21 "[MVN] Use Maven plugin test harness"

[2014-11-27 03:41] #5 closed, assigned to fbiville

[2014-11-27 05:06] fbiville opened #22 "[Core] Dry-run mode: write something when there is nothing to persist"

[2014-11-27 05:18] fbiville opened #23 "[Core] Avoid concurrent executions"

[2014-11-27 05:19] fbiville opened #24 "[Core] Allow unknown changesets in graph?"

[2014-11-30 03:11] jexp opened #25 "[CLI / Mac OS] liquigraph.run doesn't work with --help"
[code]

[2014-11-30 03:14] jexp opened #26 "[CLI / Mac OS] liquibase.run command line option parsing broken?"
[code]

[2014-11-30 18:41] fbiville opened #27 "[CLI / Windows] Make liquigraph.run work"
Possible options:
1. Produce a BATCH file
2. Produce an .exe with http://launch4j.sourceforge.net/ or equivalent
3. Write a single Python script, available for all platforms.

[2014-12-01 13:17] #22 closed, assigned to fbiville

[2014-12-02 13:19] fbiville opened #30 "[Core] Mute JDBC driver logs"
Currently showing HTTP client activity in stdout.

[2014-12-02 19:59] #27 closed, assigned to nobody

[2014-12-02 21:15] fbiville opened #31 "[CLI] Investigate Homebrew"
Cf. https://github.com/fbiville/homebrew-liquigraph

[2014-12-05 08:51] #26 closed, assigned to fbiville

[2014-12-05 08:51] #25 closed, assigned to nobody

[2014-12-05 21:08] fbiville opened #33 "[CLI] Load changelogs in Java directly"
There is likely a solution similar to the one written in Maven plugin: with an URLClassLoader, we should achieve the loading we want.

This would greatly simplify the script (no Python needed anymore).

[2015-01-21 22:44] fbiville commented on #8
FYI: http://stackoverflow.com/questions/28078198/custom-xml-processing-with-jaxb.

[2015-01-23 12:56] #33 closed

[2015-02-28 19:13] fbiville commented on #8
Cool, Hazelcast does the same: https://github.com/hazelcast/hazelcast/blob/e7dc993c34f23b425451e6d39f780e0515a9080f/hazelcast/src/main/java/com/hazelcast/config/AbstractConfigBuilder.java#L66.

[2015-03-27 14:37] fbiville opened #36 "[Core] Support Neo4j 2.2.0"
Currently failing:

[code]

[2015-04-04 14:03] owetterau commented on #36
I am running into this issue, too...

[2015-04-07 07:57] anragab commented on #36
Same problem

[2015-04-07 08:15] fbiville commented on #36
I think I has this problem with some 2.2 release candidates.
I'll try finding the thread on Neo4j Google Group where some workarounds were described.

[2015-04-18 16:08] fbiville commented on #36
This is the conversation I had.
Currently figuring out how to include neo4j-io for Neo4j 2.x builds.

[2015-04-18 16:51] fbiville commented on #24
"Unknown" changesets would mean a different set of Liquigraph migrations (spread across several projects) would be executed against the same database.

One would think that a shared database should have one dedicated set of migrations, not several.
For that reason, I'm closing this issue.

If you think otherwise, feel free to explain and reopen.

[2015-04-18 16:51] #24 closed

[2015-04-18 18:55] fbiville commented on #36
Finally fixed :)

[2015-04-18 18:55] #36 closed

[2015-04-19 19:45] sim51 commented on #10
Java implementation is OK, I have to make a better XSD (specially with precondition)

[2015-04-21 21:56] sim51 commented on #10
I thinks it's good now, but it must be tested with some more complex changelogs

[2015-04-21 21:58] sim51 commented on #30
I have added slf4j & logback on the core project, so it should be easier now to mute library logs

[2015-04-21 22:02] sim51 commented on #8
It's work for me

[2015-04-26 17:15] fbiville commented on #23
The idea would be to implement a mutex based on the presence of a (unique) node labeled `:__LIQUIGRAPH_LOCK`.
The node removal could be register as a JVM shutdown hook.
All reads/writes must be based on mutual exclusion.

[2015-04-26 17:17] sim51 commented on #23
Be a little patient, I'm on it. A first version will be pushed on  the branch issue_23

[2015-04-26 18:30] fbiville commented on #23
I know, I know, I'm just throwing out some ideas :)

[2015-04-29 11:31] #8 closed

[2015-05-11 22:34] lilianaziolek opened #40 "[Core] Liquigraph crashes when trying to change schema (add index / create constraint)"
I have a very simple changeset, just containing a single index.
[code]
When trying to run it with liquigraph 1.0.0.RC2 on a clean localhost instance of neo4j 2.2.1 it crashes with an exception:
[code]
However, if I change the CREATE INDEX to something not modifying the schema, e.g. CREATE a node, then it loads fine. Looks to me that liquigraph would need to use separate transactions for creating i

[2015-05-12 04:56] fbiville commented on #40
Thanks for the report, we'll look into it.

[2015-05-12 07:38] fbiville commented on #40
Bingo: https://github.com/fbiville/liquigraph/blob/master/liquigraph-core/src/main/java/org/liquigraph/core/writer/ChangelogGraphWriter.java#L51.

I will push a fix this week.

[2015-05-12 09:23] lilianaziolek commented on #40
Fabulous! thanks a lot! I'll be going on holiday soon so no rush, I'll test
it again when I'm back in June :)

On Tue, 12 May 2015 08:38 @fbiville <notifications@github.com> wrote:

[2015-05-16 17:39] fbiville commented on #10
Finally merged :)
I re-worked the PR a tiny bit so that it worked well with the import pre-processing that had been done in parallel and merged beforehand.

Great job @sim51, thanks!

[2015-05-16 17:39] #10 closed

[2015-05-26 20:39] mbyrne00 commented on #40
Hi @fbiville. Just saw this great tool and looking at incorporating it into our project. This fix and https://github.com/fbiville/liquigraph/issues/23 would be great to include - any idea when RC3 might be ready to cut?

[2015-05-27 08:10] fbiville commented on #40
@mbyrne00 RC3 will hopefully be out within the next 2 weeks. Would that timing suit you?

[2015-05-27 08:14] mbyrne00 commented on #40
That would be great! In the mean time when #23 has been merged into master we could build snapshot locally and give it a rest to provide feedback.

[2015-05-27 08:18] fbiville commented on #40
@mbyrne00 #23 is a bit unsatisfactory at that point, because there is still a time window during which a concurrent execution may happen, as described here: https://groups.google.com/forum/?hl=en-GB#!topic/neo4j/28t4xOlhGLg.

We can still merge it now and improve it later.

[2015-05-27 08:22] mbyrne00 commented on #40
Yea it would be great to have what's there to date. I'd like to give it a test and look under the covers. Thanks!

[2015-05-27 08:36] fbiville commented on #40
Fixed in master.

[2015-05-27 08:36] #40 closed

[2015-05-27 10:07] mbyrne00 commented on #23
@fbiville mentioned that there is a potential for a race condition with the current solution as mentioned here: https://groups.google.com/forum/?hl=en-GB#!topic/neo4j/28t4xOlhGLg

I’m not sure there is any need for a pessimistic lock via “SELECT FOR UPDATE”. A simpler solution would be to create a unique constraint in the db on `:__LiquigraphLock(lock)` (or any other arbitrary property) and when y

[2015-05-27 11:58] fbiville commented on #23
OK, I'll commit the unicity constraint. It won't *directly* help with the race condition (it may still happen unless using pessimistic locking) but the conflicting thread, as @mbyrne00 says, will at least fail to create the lock and won't execute further. This is still an improvement compared with the current version.

I think this is an acceptable compromise for now. WDYT?

[2015-05-28 00:54] mbyrne00 commented on #23
@fbville - our team need to write some custom rollforward mechanisms for our immediate urgent requirements right now, so I won't be able to use your product, but after looking through the code here's some of my feedback. I was going to work on a pull request on a local fork to give this feedback in code, but I've been pulled off this sorry. Some of my comments may be due to lack of understanding s

[2015-05-28 08:26] fbiville commented on #23
@mbyrne00 thanks for this detailed feedback. While I need some time to process it all, here come a few answers:

 1. changing the while loop: you're probably right, it looks more cumbersome but also more reliable, so I'll give it a try.
 1. `LockManager` hanging: I'll write some more tests to cover the case
 1. `ClassCastException`: sounds definitely familiar :/
 1. no `rollback`: as far as I reme

[2015-05-28 11:23] mbyrne00 commented on #23
For our setup I think we may need the ability to have at least some changesets defined in a Java class like the Flyway model allows. Some of the properties we store are SHA encoded for example and some migrations could potentially need more logic than Cypher. We can also use some ideas of allowing Spring-managed beans to be accessed at the same time. For now we will have a dependency on some inter

[2015-05-28 11:26] fbiville commented on #23
@mbyrne00 you can always depend on `liquigraph-core` and instantiate the Java classes yourself.
However, for now, you can only define your migration with Cypher queries.

[2015-09-18 19:32] fbiville commented on #23
Sorry guys for the loooooooong silence here.
Work has been crazily busy in the last months and I finally get some time to work on the issue and make sure the so-long overdue RC3 appear.

[2015-10-06 22:12] fbiville commented on #23
I just spend some time in setting up automated testing against a remote instance with Docker and Travis.
I can at least reproduce automatically the issues that have been mentioned in this thread.

Hopefully will fix everything in the following days!!

[2015-11-18 19:24] heroicefforts commented on #23
What's the status on #23?  Is there a release forthcoming?  Is the 23 branch stable?

[2015-11-18 19:57] fbiville commented on #23
Still ongoing, trying to automate tests on remote instances with Docker, I'm struggling a bit with my home setup.

[2015-11-24 01:16] heroicefforts opened #44 "[Core] Multiple queries per changeset"
Is there a technical reason that you cannot define multiple queries per changeset?  I assume that a changeset is run in a transaction.

[2015-11-24 19:14] fbiville commented on #44
Thanks for the feedback.
What is your usecase? You do not have any way to rewrite your queries to a single one?
Having multiple queries per changeset is feasible, though. I'm open for discussion ;-)

[2015-11-25 00:34] heroicefforts commented on #44
I was thinking in terms of logically grouping sets of DDL statements together, mainly for readability.  For example, cypher doesn't seem to allow chaining multiple constraint statements.

[2015-11-25 00:44] heroicefforts opened #45 "Sequential migration runs fail when using context."
Assuming that I'm understanding the use case for contexts, it appears that there's a bug in the PersistedChangesetValidator.  Basically, if you run a migration with context, then only the invoked changesets are persisted.  On a subsequent run the validator is comparing the index of the persisted value against the index of the complete changelog, so they never match and migration always fails.

Per

[2015-11-25 09:48] fbiville commented on #45
Thanks for reporting this. I'll look into this, unless you are willing to submit a pull request ;-)

[2015-11-25 09:48] fbiville commented on #44
Sounds legit, I'll look into it, unless you are willing to submit a pull request :)

[2015-11-25 13:15] heroicefforts commented on #45
I may be able to take a look after the holiday.  Do you think storing the absolute index is the proper solution?

On November 25, 2015 4:48:25 AM EST, "@fbiville" <notifications@github.com> wrote:

--
Sent from my Android phone with K-9 Mail. Please excuse my brevity.

[2015-11-25 13:53] fbiville commented on #45
I'll take a thorough look this week and re-evaluate the best approach based on your initial feedback. Thanks!

[2015-11-26 19:34] fbiville commented on #45
In my opinion, this is a bug lying around this line: https://github.com/fbiville/liquigraph/blob/master/liquigraph-core/src/main/java/org/liquigraph/core/api/MigrationRunner.java#L67.

Either `ChangelogReader` should accept an instance of `ExecutionContexts` as argument or `PersistedChangesetValidator` should filter the changesets.

I would personally favor the first approach as this is, imo, not

[2015-11-26 19:36] fbiville commented on #45
Now regarding the approach with absolute indices, unless I'm missing something, this should work just fine. Given Liquigraph is an *incremental* migration runner, indices should only grow (new changesets have to appended).

WDYT @heroicefforts?

[2015-11-30 16:54] heroicefforts commented on #45
Is the expectation that one and only one context set will ever be configured for a given database?

In the above case, the filtering needs to be done on the declared changesets before the comparison.

[2015-12-01 09:26] fbiville commented on #45
I indeed had in mind: 1 configuration per target database.
Does your usecase require something else?

One counterargument would be the case of graph DB containing several distinct graphs. I may be wrong, but this seems like a marginal use.

[2015-12-02 23:23] heroicefforts commented on #45
Do you think you could shoot me an email?  I have some further ideas on this and another question.  My email info is in my GH profile.

[2015-12-03 09:44] fbiville commented on #45
Sure :)

[2015-12-21 13:03] fbiville commented on #45
The problem arises in the following context:

Liquigraph validation tries to be too smart.
I'll just simplify it, leaving more power (and responsibility ;-)) to the user.

[2015-12-22 22:42] fbiville commented on #45
@heroicefforts I've simply removed the ordering constraints as it is too restrictive.
This is now available on `master` for your feedback :-)

[2015-12-22 22:47] fbiville commented on #23
@heroicefforts @mbyrne00 I know this is late, but I'm gonna take a rather simple "fail-fast" approach. When acquiring a connection, Liquigraph will create a unique node, and crash if it cannot (with an explicit error message).

[2015-12-23 10:18] #45 closed

[2015-12-24 09:00] fbiville commented on #44
Done :)

[2015-12-24 09:00] #44 closed

[2015-12-24 10:18] fbiville commented on #23
Here comes the simplified approach: https://github.com/fbiville/liquigraph/pull/49. Needs a bit more testing, but this should be good enough fail-fast approach.

[2015-12-24 10:46] fbiville opened #50 "Insert license headers in all files"

[2015-12-28 17:10] #50 closed

[2016-01-04 12:27] fbiville opened #51 "Support EditorConfig and document it in `CONTRIBUTING.md`"

[2016-01-05 14:58] fbiville commented on #23
@heroicefforts @mbyrne00 I'm happy to tell you changes have finally been pushed to master...
I'm gonna make some more manual testing and a new release candidate will be created.

Feel free to reopen the issue if you think something is not working properly regarding the locking mechanism.

[2016-01-05 14:58] #23 closed

[2016-01-06 15:19] fbiville opened #52 "[CLI] Import resolver fails abruptly on wrong imports"
Currently fails with client (and probably with MVN plugin):

[code]

[2016-01-06 16:38] #52 closed

[2016-03-23 00:06] mangrish opened #55 "Support for Gradle"
Are there any plans to do a native Gradle plugin for liquigraph or are you aware of one that someone has written? I couldn't find any through Google.

The product looks great and I'm tempted to use it but don't have time to trial and error a maven/cli gradle integration at the moment.

If you do plan to write one I see liquibase have written one which could be a good starting point: https://github

[2016-03-24 20:26] fbiville commented on #55
Hey @mangrish, first of all, thanks for your feedback!

I've never been but an occasional basic user of Gradle and afaik, nobody has started working on a Gradle plugin.

If anyone is interested to go for it, then I'm very open to contributions.

I can start looking at this, but I cannot promise any deadline ;-)

[2016-04-05 15:15] pointwisefixed opened #56 "Changesets with multiple queries are not calculating the right checksum."
If you write a changeset with multiple queries (in my tests I had 2 queries) liquigraph will run fine the first time but if you rerun it, it throws an exception when calculating the queries checksum. I believe it's because the order the queries are being retrieved matter to calculate the checksum:

`MATCH (changelog:__LiquigraphChangelog)<-[exec:EXECUTED_WITHIN_CHANGELOG]-(changeset:__LiquigraphCh

[2016-04-05 17:47] fbiville commented on #56
Nice catch, thanks for the report. 👍

There is indeed an inconsistency between the [reader](https://github.com/fbiville/liquigraph/blob/master/liquigraph-core/src/main/java/org/liquigraph/core/io/ChangelogGraphReader.java#L40) and the [writer](https://github.com/fbiville/liquigraph/blob/master/liquigraph-core/src/main/java/org/liquigraph/core/io/ChangelogGraphWriter.java#L55).

We should use the `

[2016-04-05 19:56] pointwisefixed commented on #56
Sure I can, I'll create a pr soon!

[2016-04-05 20:18] fbiville commented on #56
Very nice, looking forward to merging it! :-)

[2016-04-05 22:03] pointwisefixed commented on #56
Done! let me know if I did anything wrong or if you have comments on my changes.

[2016-04-14 12:28] fpavageau opened #58 "Invalid persistence of executed changesets with run-on-change/run-always"
Liquigraph can only be run twice with the following changelog:
[code]

The first time, it will record the execution with a `MERGE` query equivalent to:
[code]
(other properties of the changeset omitted). All is well.

The second time, due to the presence of the `order` property *inside* the `MERGE` clause, it will record *another* execution, despite the method being called ["upsert"](https://githu

[2016-04-14 12:55] fbiville commented on #58
Cool, thx for the report (and the future fix)!

[2016-04-14 13:23] fbiville commented on #56
Pull request is merged, feel free to test against the latest SNAPSHOT!

[2016-04-14 13:27] fbiville opened #59 "Test remote instances of Neo4j in the test suite with Docker/Travis CI"

[2016-04-14 13:28] fbiville opened #60 "Extract documentation from tests"

[2016-04-14 13:29] #30 closed

[2016-04-14 13:34] fbiville opened #62 "Support Bolt (Neo4j 3.0.0)"

[2016-04-14 13:45] pointwisefixed commented on #56
Verified that it works. Thanks for merging and your work on maintaining this awesome library.

[2016-04-14 13:46] pointwisefixed commented on #62
@fbiville I can help with this if you want. It will be of great benefit to my team as we will eventually upgrade too.  What do you think are the main things to look out for during this update? if any that you know.

[2016-04-14 14:40] fpavageau opened #63 "Criteria for changeset unicity"
The documentation says:

However, the queries are only based on the `id`, so the documentation should probably be fixed.

Moreover, the minimum Neo4j version seems to be 2.0.x (though the documentation does not mention it explicitly, and should also be fixed for that as well 😄), which already supports [uniqueness constraints](http://neo4j.com/docs/2.0.5/query-constraints.html). I think it might be

[2016-04-14 14:49] fbiville commented on #63
Documentation is right, implementation is wrong :-)
Want to push a PR that ensures a unicity constraint on id/author? :-)

[2016-04-14 14:51] fbiville commented on #62
The first approach is to directly open a PR that adds the version to `.travis.yml` with the latest 3.0.0 RC.
You can then see how the build behaves on Travis CI.

You could also directly change `neo4j.version` to point to the good release candidate.

I expect specific dependency problems (as happened with 2.2.x and 2.3.x) and maybe some JDBC driver issues.

[2016-04-14 14:52] fbiville commented on #56
Thanks for your contributions!

[2016-04-14 14:52] #56 closed

[2016-04-14 14:52] fpavageau commented on #63
OK, that solves the question about the uniqueness constraint, since it's only per property.

I'll have a look at the queries once I'm done with #58.

[2016-04-14 18:40] pointwisefixed commented on #62
Started working on this and found a blocker (neo4j-jdbc) which actually doesn't support neo4j 3.0 as far as I can tell. Created a ticket in neo4j-jdbc to ask them about it.

[2016-04-14 19:13] fbiville commented on #62
Thanks! Meanwhile, I will ping for more information on Neo4j Slack.

[2016-04-14 19:26] fbiville commented on #62
It's not gonna be easy, this is an entirely new project: http://www.larus-ba.it/en/blog/2016/03/01/neo4j-jdbc-3x-bolt-en/.

I guess we'll have to maintain two different Liquigraph: one for v2, one for v3.

Better ideas most welcome...

[2016-04-15 10:13] fbiville opened #64 "Remove Guava dependency"

[2016-04-15 10:33] #64 closed

[2016-04-15 10:38] fbiville commented on #64
Guava brings a lot of useful APIs to JDK < 8, we'll keep it for now.

[2016-04-15 13:08] pointwisefixed commented on #62
@fbiville I knew about the binary drivers, I didn't know they were gonna stop supporting the rest API after v3.0. I wonder if writing a facade module around neo4j that lets us switch versions would be feasible.

[2016-04-15 14:01] fbiville commented on #62
@pointwisefixed that could be worth a try, but that might turn out very complex.

[2016-04-15 14:53] fbiville commented on #58
I guess we can close this ;-)

[2016-04-15 14:53] #58 closed

[2016-04-15 15:02] fpavageau commented on #58
Definitely, if I'd checked master before filing the issue, I would have seen it was already fixed.

[2016-04-16 22:42] fbiville commented on #63
Great job, thanks again!

[2016-04-16 22:42] #63 closed

[2016-04-17 00:28] fbiville commented on #59
Working POC: https://github.com/fbiville/neo4j-jdbc-travisci-docker-test.

[2016-04-18 21:35] fbiville commented on #62
@pointwisefixed by the way, it would be worth considering changing the codebase in a more impactful way. Neo4j 3.0 offers stored procedures, which could turn out to be very helpful for Liquigraph context!

[2016-04-19 12:11] pointwisefixed commented on #62
@fbiville I gotta say those stored procedure look kind of neat in Neo4j 3.x, I just noticed that neo4j-ogm is doing the abstraction thing to be able to support multiple neo4j versions and connection modes (embedded, http, or the new bolt protocol). I think I will use that approach and create a PR. Give me some time as sometimes work gets in the way :)

[2016-04-19 12:33] fbiville commented on #62
Sounds good!

[2016-04-20 12:47] #59 closed

[2016-04-20 13:06] fbiville commented on #55
Good news: @diodfr is working on this 👍

[2016-04-21 13:36] fbiville opened #69 "Preserve older release documentation"

[2016-04-21 13:41] fbiville opened #70 "Perform automatic metadata upgrade migration"

[2016-04-22 14:41] fbiville opened #71 "Defining an explicit schema for the changelog results in a parser error"

[2016-04-26 10:36] airomega opened #73 "Use of the -p flag"
We're running a multiple dockerized Neo4J instances which contain a small set of identical data. We'd like to add the data at the Neo4J container launch. We dockerized liquigraph to run alongside the Neo4J container launch however the -p flag doesn't appear to work. This means we can't add data without manual intervention to key the password.

Is it possible to use the -p flag?

[code]

[2016-04-26 15:06] fbiville commented on #73
`-p` works interactively, and is used as follows:

1. liquigraph -c /my/changelog.xml -g jdbc:neo4j://my.host:7474 -u myUser -p
2. password will be prompted (and kept hidden)

If I understand well, you would like to have a non-interactive password parameter?

[2016-04-26 15:16] fbiville commented on #73
If so, we could adapt step 1 to also support the following execution:

`echo "my_password" | liquigraph -c /my/changelog.xml -g jdbc:neo4j://my.host:7474 -u myUser -p`

It would require, afaik, just a little change to the shell script (sth like `if [ -t 0 ] _usual_ else read stdin fi`). I need to check the Batch counterpart.

What do you think? Would you like to push a change? :-)

[2016-04-26 15:22] airomega commented on #73
Yeah - effectively I want to be able to do:
liquigraph -c /my/changelog.xml -g jdbc:neo4j://my.host:7474 -u myUser -p password

Happy to take a look at the code and contribute. I'm an recovering java dev and current go coder - it'll take me a while to set up a java env again :o)

[2016-04-26 15:25] fbiville commented on #73
Just a JDK 7 and Maven 3.x is enough :-)
Feel free to reach me if you have any questions :+1:

[2016-04-26 15:47] airomega commented on #73
To get my required functionality is a fairly small easy change.

The issue I raised relates to the annotation on the (password = true)  jcommander annotation on the password field in LiquigraphCli (doc:http://jcommander.org/#Types_of_options). If I remove the (password = true) it connects to neo4j and runs in using

liquigraph -c /my/changelog.xml -g jdbc:neo4j://my.host:7474 -u myUser -p password

[2016-04-26 17:13] fbiville commented on #73
I need to dig a little more into JCommander sources to see if I can get a conditionally interactive parameter. I like the current password behaviour: password remains hidden and out of shell history. But your usecase is also 100% legit and we need a configurable behaviour for that.

[2016-04-26 18:09] fbiville commented on #73
Good news: I found a way that requires no code change and does not compromise your password.
Just run:

[code]

Would you like to send a Pull Request (see `gh-pages` branch) to update the documentation to reflect this?

[2016-04-27 09:40] airomega commented on #73
Great. That works. Thanks for that.

I don't mind changing the documentation but I can't see it :D apologies it's probably in a really obvious place.

[2016-04-27 12:41] fbiville commented on #73
The online documentation is [here](http://fbiville.github.io/liquigraph/).
The documentation sources are [here](https://github.com/fbiville/liquigraph/blob/gh-pages/index.html).

[2016-04-27 13:28] airomega commented on #73
Cheers. Done. Let me know if there's any issues.

I'd be happy to include information on how we dockerized liquigraph too if wanted.

[2016-04-27 15:18] mvitz commented on #62
FYI: I tested our application with the current SNAPSHOT and Neo4j 3.0.0 and it worked without any problems till now.

[2016-04-27 18:41] fbiville commented on #62
@mvitz nice to know, thanks for the test!
We'll need a specific support for Bolt, though.

[2016-04-27 20:30] fbiville commented on #73
Would you mind sending me a Twitter DM? I'm curious about what you did :-)

[2016-04-27 20:30] #73 closed

[2016-05-02 11:47] airomega opened #76 "Error when running in larger changeset"
I created a changeset with 17 create statements. When running liquigraph it would hang for a minute then throw the error below.

Splitting the 17 changesets into two seperate changesets fixed the error.

[code]

[2016-05-02 12:50] fbiville commented on #76
Would you mind sharing the queries (or similar) you were trying to run? It looks like you are trying to fit too much work in a single transaction (thus exceeding the default timeout).

[2016-05-02 12:59] airomega commented on #76
I've sent via email.

[2016-05-02 13:04] fbiville commented on #76
OK, I need to dig in the JDBC driver sources. We reuse the same statement to execute queries within a transaction but I'm not sure how this translates into HTTP calls to the remote instance.

[2016-05-04 13:05] fpavageau opened #77 "[Core] Allow repeatable / splitable queries for large migrations"
When migrating a large quantity of data, executing all the queries in a single transaction can lead to OutOfMemoryErrors in Neo4j.

I think this could be mitigated by repeating queries (using `LIMIT` to migrate batches) returning a single boolean value, like the pre-conditions. The query would be run until it returns `false`.

Another way could be to use separate "post-conditions" to validate whet

[2016-05-06 18:07] fbiville commented on #77
Could you show how it could look like, in terms of configuration? I'm not sure I understand well.

[2016-05-07 21:11] fpavageau commented on #77
Let's say I have a graph with lots of nodes with `A` and `B` labels, linked via `CONTAINS_B` relationships, that I need to refactor to `LINKS_B` for some reason (e.g. better domain representation).

To migrate, I'd want to run
[code]
but given enough nodes and relationships, the transaction will be too large and result in a OOM.

So instead I could batch the migration with
[code]
and repeat it (in

[2016-05-09 07:08] fbiville commented on #77
I cannot think of a better way of handling this, so let's go for it!
I'm not sure why we'd need `MARK_AS_EXECUTED`, only `REPEAT` makes sense to me (and if there is only one option, do we need an explicit one?).

[2016-05-09 08:19] fpavageau commented on #77
`MARK_AS_EXECUTED` could be used to end after the execution *unless* the postcondition returns `false`, but OK, it's overkill 😄 (and not available for preconditions). So no, we don't need to specify an `if-not-met` attribute with a single possible value.

[2016-05-09 11:48] fbiville commented on #77
Feel like pushing a PR for this? :-)

[2016-05-09 11:51] fbiville commented on #76
Would you mind posting a `PROFILE` result for each of the offending queries?
In case they are indeed resource intensive, then ongoing work defined in issue #77 will solve your problem, I think.

[2016-05-09 11:55] fpavageau commented on #77
I can probably do that, yes. Let's see if I can start working on that on Wednesday.

[2016-05-10 21:28] fbiville commented on #55
@diodfr any news about this? Feel free to send me your work if you don't think you will have time to continue ;-)

[2016-05-10 22:19] fbiville commented on #76
OK, now that I've read carefully the stack trace.
It seems that your graph instance is in a dirty state, because the Liquigraph lock node was still there.

@airomega are you sure you started from a clean instance? You did not interrupt the previous execution?

[2016-05-13 12:49] #71 closed

[2016-05-16 10:26] airomega commented on #76
Hey,

Sorry, was away for my PC for a few days.

I didn't think I was in a dirty state. I hit the lock state quite a lot and simply delete all nodes and try again. As I stated  above, the behaviour was the application hung for a a long time before erroring. I think the lock state/stack trace are produced due to liquigraph running than the lock existing prior. Is the lock state recreated during a c

[2016-05-16 11:25] fbiville commented on #76
The lock node is set at the first connection and is remove upon Liquigraph shutdown.
The implementation is done with a JDBC Connection decorator: https://github.com/fbiville/liquigraph/blob/master/liquigraph-core/src/main/java/org/liquigraph/core/io/lock/LockableConnection.java#L64.

[2016-05-18 19:27] fbiville commented on #76
Hello, @airomega can you reproduce the issue or did it happen only once?

[2016-05-19 10:31] #70 closed

[2016-05-19 12:14] airomega commented on #76
Hi,

Apologies, I've been on holiday the last few weeks hence my continual slow replies.

I wasn't able to reproduce so the mistake was likely mine. If it happens again I'll let you know

[2016-05-19 13:09] fbiville commented on #76
Ok, I'll close the issue for now.

[2016-05-19 13:09] #76 closed

[2016-05-19 13:12] fbiville commented on #77
I guess that's the last standing issue before RC4 :-)

[2016-05-19 13:37] fpavageau commented on #77
I needed #70 more than this one, which is why I prioritized it yesterday. 😃

You're the PO, you get to decide if it's necessary for RC4 and ultimately 1.0. I can probably start working on this issue next Wednesday, not sure if it can happen before. I know I already wrote that 10 days ago. 😄

Also, it needs both code and documentation, so it's going to take a bit longer than my previous contributio

[2016-05-19 13:39] fbiville commented on #77
We can split the work maybe, I can help ;-)

[2016-05-21 12:09] kadkaz opened #79 "Cannot find the declaration of element 'changelog'."
I got validation exception and could not find in your current version good changelog.xml with xsd.

and I got your example from the site:

[code]

[code]

[2016-05-23 12:38] fbiville commented on #79
Hi, thanks for reporting this!

There was a bug (#71) in RC3 when you declared a changelog with the XML schema reference. It is now fixed but not released yet.

In the meantime, you can either:

 - build Liquigraph from sources
 - grab the latest SNAPSHOT [version](https://oss.sonatype.org/content/repositories/snapshots/org/liquigraph/)
 - do not reference any schema when running with Liquigraph R

[2016-05-24 13:27] fbiville commented on #79
Can you confirm any of the above workarounds solve your issue? Thanks! :)

[2016-05-26 11:19] fpavageau commented on #77
I'm working on the issue right now, and I've realized I need a change which is probably reasonable, but changes some undocumented semantics of preconditions: currently the preconditions are run in the same transaction as the actual queries, which is then committed at the end; it means a precondition query could actually modify the data itself, and that would be committed.

To implement the repeata

[2016-05-26 11:36] fbiville commented on #77
@fpavageau sounds like a very reasonable change to me: :+1:

[2016-05-26 11:38] fbiville commented on #77
I guess that's what you planned but can you make sure to change the precondition execution in a separate commit? Thanks!

[2016-06-01 16:10] airomega opened #82 "Liquigraph hangs with addition of changeset"
We added a new file to our changeset. Since adding it it seems liquigraph hangs. There is no output from liquigraph that details what's going on.

If we remove the file it works. If we only have one query in the - it works. We assumed it would be related to tabs or line endings however the file is in line with everything else.

Can you offer any input on how to proceed? Is there a log file anywher

[2016-06-01 18:56] fbiville commented on #82
Thanks for the report. That's interesting, I reproduce that with RC3 as well.

[2016-06-01 18:58] fbiville commented on #82
The weird thing is data is properly inserted, it seems to be a shutdown issue.

[2016-06-01 19:04] airomega commented on #82
Agreed. We've recreated the file and checked line breaks are consistent. The changesets run in but liquigraph doesn't shutdown as expected. Weirdly if there's one query in the final changeset it works - when you add a second query it hangs.

[2016-06-01 19:06] fbiville commented on #82
I'll debug against RC3 and keep you updated.

[2016-06-01 19:21] fbiville commented on #82
It seems the JDBC driver is hanging on the last query some unclear reasons for now:
[code]

[2016-06-01 19:27] fbiville commented on #82
I guess somehow the connection pool is exhausted (thus blocking) because the JDBC driver does not close connections properly. Let me double check now.

[2016-06-01 20:29] fbiville commented on #82
I tried upgrading the legacy JDBC driver, the problem still occurs.

The main thread basically waits for a HTTP connection from the pool when it tries to insert the last changeset into the history graph.

There can be two explanations:

- one of JDBC driver/Restlet/Apache HttpClient is bugged
- Liquigraph connection management is wrong

I'll need more time to investigate the root cause.
@jexp did

[2016-06-02 08:56] airomega commented on #82
Hi,

My colleague @tanmayambre has found a solution to the problem and may point towards the issue. We removed the RETURN from all our queries and we no longer get the hang. Hopefully this helps the diagnosis.

[2016-06-02 21:21] mvitz commented on #62
Just as a hint, I tried using Liquigraph with the new neo4j-jdbc-bolt driver. Problems I found so far:
* setObject isn't implemented their currently
* the validation for the uri in `MandatoryOptionValidator` must be expanded or dropped (I personally think there is no need to check this, if the user supplies a wrong JDBC URI he will fail still very early and this check just blocks newer schemas ;-)

[2016-06-03 08:40] fbiville commented on #62
Nice, thanks for the heads-up! 👍

[2016-06-04 09:47] mvitz commented on #62
Next update ;-)

* my last point was fixed with https://github.com/neo4j-contrib/neo4j-jdbc/commit/b0890d335b4c798148fc31325dee50ca06aeca23
* For setObject I will provide a PR to neo4j ;-)

[2016-06-04 11:12] fbiville commented on #62
Great to hear, thanks a lot for your efforts!

[2016-06-06 15:08] fbiville commented on #62
@mvitz by the way, do not hesitate to share your work in a PR, even if it's not 100% functional yet ;-)

[2016-06-06 21:11] mvitz commented on #62
;-) I have a working version you can view at in #84

[2016-06-06 21:17] fbiville commented on #62
@mvitz I think we can have a separate branch for 3.0.x with its own release cycles.
The goal is still to be as consistent as possible with the main branch: feel free, though, to remove any code unsupported by the new JDBC driver (like embedded mode e.g.).

[2016-06-18 11:55] fbiville commented on #62
Now fixed. Thanks a lot @mvitz. The branch is [`master_3.x`](https://github.com/fbiville/liquigraph/tree/master_3.x).

[2016-06-18 11:55] #62 closed

[2016-06-18 11:56] fbiville commented on #79
Feel free to reopen this issue if the bug still occurs in the latest versions (see how to proceed above).

[2016-06-20 09:52] airomega opened #86 "[Core] Define rollback in changeset"
It's feasible a release may not go to plan when deploying large applications with many dependencies. In these cases it's likely that the application will be 'rolled back' to bring the application up again as quickly as possible. It would be useful to have a roll-back feature in Liquigraph that allows users to revert the database to a previous state.

[2016-06-20 09:57] airomega opened #87 "[Core] Add Tags to liquigraph"
It would be useful to be able to add Tags to Liquigraph. This would allow users to add versioning to their database allowing installation of specific versions and roll back to previous versions (assuming rollback is implemented) .

[2016-06-23 18:11] fbiville commented on #87
@airomega FYI I just opened https://github.com/fbiville/liquigraph/pull/91. Unless I'm mistaken, this should be enough to fit the bill.
Feel free to review the PR :-)

[2016-06-24 10:04] airomega commented on #87
Looks good :+1:

It is worth while considering adding timestamps to _LiquigraphChangeset and Tag nodes to assist determining what changesets were added before a specific tag and which were added after? Maybe there's another way/mechanism this is handled already....

[2016-06-24 11:31] fbiville commented on #87
Tag is not a node in the current impl, just an attribute of the `__LiquigraphChangelog` node.

[2016-06-24 14:29] fpavageau opened #92 "[Core] Report connections that remain open at the end of unit tests"
Currently, the implementations of `GraphDatabaseRule` perform some cleanup at the end of a test, by silently closing the connection if it's still open. It should actually fail the test if the connection wasn't properly closed by the production code.

[2016-06-24 16:47] airomega commented on #87
Cool. My mistake looking at the neo4j guide and not paying enough attention
:)  the idea is still valid I think - it is worth adding a timestamp to the
tag and changeset in some way?

On Fri, 24 Jun 2016, 12:31 Florent Biville, <notifications@github.com>
wrote:

[2016-06-25 09:45] fbiville commented on #87
Yep, I can add a `last_access` to changelog.
Changesets already have a creation timestamp, so I'm not sure we need to replicate the last access timestamp elsewhere than in the changelog node, what do you think?

[2016-06-25 16:53] fbiville commented on #87
In the end, I added a `tag_timestamp` attribute. It matches the creation time of the tag.

[2016-06-25 16:56] fbiville commented on #87
I'm wondering if the checksum definition should be modified...
WDYT @fpavageau?

For now, only changeset queries are included in checksum computation, but it could make sense to include pre- and post-condition as well as tags. If so, I'll open another issue and do the work there... I'm not super with the way the checksum computation is currently triggered...

[2016-06-27 12:18] fpavageau opened #95 "[Core] Manage ResultSets consistently in master_3.x"
While applying the postcondition commits onto `master_3.x`, I noticed that in some tests (e.g. `ChangelogGraphWriteTestSuite`, `ResultSets` have been moved out of the try-with-resources declaration and into the body, which would seem to indicate they shouldn't be closed anymore.

However, in other tests (e.g. `LiquigraphTestSuite`), they remain in the try-with-resources declaration.

Should it be

[2016-06-27 12:30] fbiville commented on #95
Yep, this is due to https://github.com/neo4j-contrib/neo4j-jdbc/issues/51 (which is solved in a later version). We should be consistent indeed (and watch new releases :P).

[2016-06-28 10:01] mvitz opened #98 "[Core] Enable usage of DataSource instead of URL/Username/Password"
I'm using liquigraph inside a spring-boot application. Normally you are given an already defined `java.sql.DataSource` which you can use to obtain a connection. Unfortunately liquigraph doesn't support this. Therefore I'm currently using a hack to get the URL/Username/Password and providing this to liquigraph.

[2016-06-28 10:03] mvitz opened #99 "[Core] Spring-Boot Autoconfiguration module"
**This is mainly a marker issue for myself.**

In my current project I've written a spring-boot auto configuration which applies liquigraph migrations on application startup. I would contribute that code as a separate module once I find a little bit more time ;-)

[2016-06-28 10:14] fbiville commented on #99
Ahah, super nice! Cannot wait for your PR :)

[2016-06-28 10:14] fbiville commented on #98
You are right, I should provide this way as well!

[2016-06-28 10:15] fbiville commented on #99
It may be worth creating an extra module for that!

[2016-06-28 11:07] fpavageau commented on #87
Regarding #91, it implements the tag but there's no easy way to access it at the moment, except with a direct Cypher query on the `__LiquigraphChangelog` node. Should it be accessible through the API? How is it going to be used in practice?

As for what's included in the checksum, I feel like it would be more difficult to manage bugs in changesets if pre- and postconditions were included, but I'm

[2016-06-28 11:19] fbiville commented on #87
Good points, I agree we can keep the checksum computation to the minimum.

Regarding tags, unless @airomega sees otherwise, I just see them as a human-friendly state that could help writing some subsequent preconditions (or maybe rollback if/when we implement it). I don't think we explicitly need tags in the API.

[2016-06-28 11:26] fbiville commented on #87
@fpavageau If we plan to have a dedicate API for reading tags:

- is retrieving the current one enough? (by current design, that's the only option)
- do we need to retrieve all tags (need to rewrite the PR to keep all tags in the DB)

[2016-06-28 22:14] fbiville commented on #98
First draft [here](https://github.com/fbiville/liquigraph/pull/100). Open for early feedback ;-)

[2016-06-30 19:30] fbiville commented on #98
Status:

 - [x] tests, tests, tests
 - [ ] documentation
 - [ ] `master_3.x`

[2016-06-30 20:18] fbiville commented on #87
@fpavageau @airomega see questions above: how should the tag API behave? ;-)

[2016-07-01 09:28] fpavageau commented on #87
I think having all the tags would be more flexible, but I'm not sure I really see the use cases anyway (Rollback? Maybe).

[2016-07-01 12:43] fbiville commented on #77
Great stuff, everything is merged and documented!!

[2016-07-01 12:43] #77 closed

[2016-07-04 06:12] mvitz commented on #98
I just checked the implementation and found a small issue that prevents me from using this in the Spring-Boot module.

The DataSource is configured to be in autoCommit-mode by default. Liquigraph should set this to false after retrieving a connection from the DataSource and restore the original autoCommit value when the connection is closed.

[2016-07-04 08:40] fbiville commented on #98
Thanks for the report. If the connection is closed, is there an actual need to restore its autocommit flag?

[2016-07-04 09:01] mvitz commented on #98
Normally not, but in case of a connection pool a closed connection often is just returned to the pool and reused. Resetting the original state prevents some subtle bugs.

[2016-07-04 21:15] fbiville commented on #69
Now done, see http://liquigraph.org.
Not the best navigation system in the world, but good enough for now!

[2016-07-04 21:15] #69 closed

[2016-07-05 14:57] fbiville commented on #95
Fixed via https://github.com/fbiville/liquigraph/commit/8d9f7b454870dabf64fef063f7f4a0cbaf16a780.

[2016-07-05 14:57] #95 closed

[2016-08-17 15:03] frosiere opened #107 "Embedded connection to the database"
Hello,

First of all, thanks for the great job you made on the migration process.

In the description, I don't see anything to connect an embedded database?

Can you tell me how I could do using the last version of the tool?

Best regards,

François

[2016-08-17 15:47] fbiville commented on #107
Hi, thanks for the kind words.
You can simply set the URI to `jdbc:neo4j:mem:$NAME_OF_DB`.

[2016-08-17 15:48] fbiville commented on #107
If you like, you could improve the latest documentation [here](https://github.com/fbiville/liquigraph/blob/gh-pages/latest/index.html).

[2016-08-26 21:51] fpavageau commented on #98
The additional commits have now been merged in `master_3.x`, with the dependency on the newly released 3.0.1 driver.

[2016-08-27 16:50] fbiville commented on #107
If you don't think it solved your issue, feel free to reopen this.

[2016-08-27 16:50] #107 closed

[2016-08-27 19:55] fbiville commented on #82
Hi, we're in the process of using a fork of the original community JDBC driver for Neo4j 2.x.
I hope this will fix the issue you were suffering from.

I will close this issue for now. Feel free to reopen it if the problem occurs again.

[2016-08-27 19:55] #82 closed

[2016-08-27 19:55] #21 closed

[2016-08-27 19:55] #60 closed

[2016-09-04 16:57] fbiville opened #110 "Validate Javadoc during build"
... this is only caught during releases at the moment... and that's very irritating, to say the least.

The Javadoc validation should be bound to the `verify` Maven phase if not already.
And Travis CI should run `mvn verify`, not only `mvn test`.

[2016-09-05 09:03] fbiville opened #111 "Complete 2.0.0 and 3.0.0 releases"
- [x]  Complete https://github.com/fbiville/liquigraph/releases (FB)
 - Update https://github.com/fbiville/liquigraph/tree/gh-pages (FP)
     - [x] copy XML schema to a 1.0(?) folder and update doc examples
     - [x] copy `latest` to `2.0` and `3.0` (only `latest` should be indexed)
     - [x] generate Maven plugin site for 2.0.0 and 3.0.0 and update respective links in the documentation
 - Updat

[2016-09-05 11:52] fpavageau commented on #111
For consistency, I guess the documentation directories should be `2.0.0` and `3.0.0`, not `2.0` and `3.0`, or we'll lose the previous documentation when releasing new versions for bug fixes.

[2016-09-05 12:08] fbiville commented on #111
It's probably a bit early to tell, but do we need that granularity?

[2016-09-05 12:09] fbiville commented on #111
Anyway, for now, you're right, let's have a `2.0.0` and `3.0.0`.
We'll wait and see whether it becomes overkill or not.

[2016-09-05 16:03] fpavageau opened #112 "Fix the JDK requirements"
`master` doesn't currently build when using JDK 7 (some tests fail due to package-private test classes), but that really should be the target.

`master_3.x` only requires JDK 7, but probably needs JDK 8 because of the Neo4j JDBC driver: the build seems to pass when using JDK 7, but the tests in `liquigraph-core` don't actually run at all (silently).

[2016-09-05 16:05] fbiville commented on #112
Yep, let's `enforce` this ;-)

[2016-09-05 21:27] fbiville opened #113 "[CLI] Liquigraph client should give its version"
I caught myself running `liquigraph -v` and it just did not work:

- `liquigraph -v`
- `liquigraph --version`

should give the current version.

Some [Maven filtering](https://maven.apache.org/plugins/maven-resources-plugin/examples/filter.html) for retrieving the version from the POM would be ideal ;-)

[2016-09-05 21:30] fbiville commented on #99
How is it going? :-)

[2016-09-05 21:31] fbiville commented on #55
Current work has been forked [here](https://github.com/fbiville/liquigraph-gradle-plugin). Anyone can start from there!

[2016-09-05 21:42] fbiville commented on #111
Still some back and forth with Homebrew but we're getting there!

 - https://github.com/Homebrew/homebrew-core/pull/509 (3.0.0)
 - https://github.com/Homebrew/homebrew-versions/pull/1377 (2.0.0)

@fpavageau by the way, we should include the XML schema again in the documentation examples.

[2016-09-05 21:47] fpavageau commented on #111
@fbiville You mean before the detailed section, right? I added it to the first complete example [there](https://fbiville.github.io/liquigraph/3.0.0/index.html#detailed_section) but after all, maybe it should also be added to the first example.

[2016-09-06 09:16] fbiville commented on #111
Yep, before the detailed section.

[2016-09-06 09:46] fpavageau commented on #111
I've added the XML schema to the first example.

[2016-09-06 10:14] mvitz commented on #99
I will try to push (at least a starting point) on the weekend. Currently I am very busy and not working in a Neo4j project any longer... :'(

[2016-09-06 11:43] fpavageau commented on #112
Regarding `master`, the build passes with Oracle JDK 1.7u80 (used by Travis CI) but not with previous versions (1.7u75 and 1.7u72 on my machine), so I guess I'll fix the test classes anyway: the problem is with public classes extending a package-private super class, which makes JUnit fail with

It's simple enough to fix, even if the Travis CI build won't see any regression that might be introduced

[2016-09-06 14:52] fpavageau commented on #112
Everything should be up-to-date now:

  - JDK 7 for `master`
  - JDK 8 for `master_3.x`, with the documentation updated

[2016-09-06 14:52] #112 closed

[2016-09-07 12:02] #92 closed

[2016-09-07 14:37] #113 closed

[2016-09-07 14:38] fbiville commented on #98
Releases have been done, so I guess this issue can be closed.
Feel free to reopen @mvitz if you find something odd.

[2016-09-07 14:38] #98 closed

[2016-09-08 07:22] mvitz opened #116 "Use SonarQube.com for quality analysis"
Maybe it would be worth trying to gather some analysis data using SonarQube.com

See https://about.sonarqube.com/news/2016/09/01/sonarqubedotcom-open-to-aynone.html

[2016-09-08 09:40] fbiville commented on #116
Funny, I just talked about it with @fpavageau yesterday :D

[2016-09-09 08:35] fbiville commented on #111
Homebrew for Liquigraph 3.0.0 is done \o/
Ongoing discussion for Liquigraph 2.0.0: https://github.com/Homebrew/homebrew-versions/pull/1377.

[2016-09-15 16:11] fbiville commented on #111
I'll open a separate issue for Homebrew / Liquigraph 2.0.
This requires more work and is not entirely related to the release.

[2016-09-15 16:11] #111 closed

[2016-09-15 16:12] fbiville opened #119 "Homebrew for Liquigraph 2.0"
See https://github.com/Homebrew/homebrew-versions/pull/1377.

[2016-09-27 18:11] fbiville opened #122 "Documentation improvements"
- explain the choices between Maven, Core and Shell
- remind that the Neo4j instance must be up and running
- explain that the example is first run in dry-run mode

[2016-09-27 19:03] #110 closed

[2016-09-28 08:51] fbiville commented on #122
Now to be ported to the other versions.

[2016-10-03 08:48] agre1981 opened #129 "TransactionFailureException: Unable to commit transaction if there are errors in update statement"
I use liquigraph with embbed DB (neo4j 2.1.7) and have such error.
Use case:
1/ have any error in query changelog.xml like this:
`<query>DROP CONSTRAINTX ON (cc:Content) ASSERT cc.code IS UNIQUE</query>`
2/ run update with code

[code]

Comments:
1/ during exception we do not rollback transaction. it makes transaction status to Status.STATUS_MARKED_ROLLBACK
ChangelogGraphWriter

[code]

2/ During

[2016-10-06 15:05] m007 opened #130 "IndexOutOfBoundsException when username not provided"
With the following code
[code]

and changelog

[code]

I get an ArrayIndexOutOfBoundsException.
[code]

Can anybody help with what is worng?

[2016-10-07 11:57] fbiville commented on #130
Did you figure it out? I see the issue is now closed.

[2016-10-07 15:41] m007 commented on #130
Apparently one cannot use `.withPassword()` without giving `.withUsername()`, too. The default username in Neo4j is "neo4j" so I assumed that not giving `.withUsername()` would use "neo4j" as username. Eventually I solved it by providing the (default) username.

It would be interesting to see if you can reproduce this behaviour and maybe, either
+  provide a check for that (`IndexOutOfBoundsExcept

[2016-10-10 09:02] fbiville commented on #130
Yep, using a default username sounds like a good approach (and improving the error as well).
Would you like to try submitting a PR? :-)

[2016-10-10 14:03] fbiville commented on #129
@agre1981 thanks for the detailed report! (I somehow totally missed this in my notifications).
Would you like to send a PR for this? Thanks a lot!

[2016-10-12 07:50] fbiville commented on #129
@agre1981 I cannot reproduce the issue you describe (see https://github.com/fbiville/liquigraph/pull/132, the build is passing and it should be failing).
Are you sure the DB was not in a dirty state before running migrations again?

[2016-10-13 09:15] fbiville commented on #129
Hi, I will close this as it seems to me there is no issue.
@agre1981 feel free to re-open it if you think there is a bug.

[2016-10-14 08:37] agre1981 commented on #129
Hello,
1/ That is good practice commit or rollback transaction. we can not count that other will do it : )
2/ testcase should use LockableConnection.
GraphJdbcConnector
[code]
    }
3/ patch file for reproducing

[2016-10-14 08:44] fbiville commented on #129
Hi, thanks for the feedback.
I think you have enough material to submit a failing test, now, or? ;-)

[2016-10-14 08:46] agre1981 commented on #129
[code]

[2016-10-14 08:46] agre1981 commented on #129
Please reopen issue

[2016-10-14 08:51] agre1981 commented on #129
This statement fails in LiquigraphLock
[code]

[2016-10-14 09:25] fbiville commented on #129
What I meant by submitting a failing test is sending a PR, would you have time for this?

[2016-10-14 10:07] agre1981 commented on #129
https://github.com/fbiville/liquigraph/pull/133

[2016-10-15 18:06] geld0r opened #134 "Migration of an embedded neo4j database fails with "Invalid JDBC URI" error"
As mentioned in #107 it should be possible to migrate an embedded neo4j database.

According to that I have configured:
`Configuration configuration = new ConfigurationBuilder()
					.withMasterChangelogLocation("changelog.xml")
					.withUri("jdbc:neo4j:mem:neo4j")
					.withRunMode()
					.build();`

where the name of my neo4j db is "neo4j" (to be honest I am not sure what the name of the instan

[2016-10-17 08:35] fbiville commented on #134
Hi, for embedded support, you should use the 2.x version branch.
Feature-wise, it is the same.

The driver used under the hood is different in 3.x and does not support embedded databases yet.

[2016-10-20 08:12] fpavageau commented on #130
Since we're going to merge a PR, this issue should actually be open.

[2016-10-20 08:20] fpavageau commented on #130
And I botched the commit with a reference to the PR (#131) instead of the issue, so I'll close it manually...

[2016-10-20 08:20] #130 closed

[2016-10-21 11:06] agre1981 commented on #129
i fixed compilation errors. Now it should be fine.
Alex

[2016-10-22 23:20] fbiville commented on #134
I think so. I'll check and reproduce the problem, but I wouldn't be surprised if the legacy driver is not compatible with Neo4j 3.

If that's the case, then the only solution is to wait for the embedded support in the new JDBC driver. That's planned but not done yet.

[2016-10-23 16:53] fbiville commented on #134
So, I reproduced your setup and tried both embedded and in-memory (with the test JARs) Neo4j 3.x with Liquigraph 2.0.0 and it fails because of incompatible API changes between Neo4j 2.x and Neo4j 3.x.

The above error occurs because you have not included the test JARs to instanciate an in-memory database (indeed, the in-memory version of Neo4j is intended for tests only).

[2016-10-23 16:56] fbiville commented on #134
For now, I am afraid you are out of luck: if you use Neo4j 3.x, you need to run Liquigraph 3.0.0.

The underlying driver makes it so only BOLT and HTTP connections are supported (this will change in the future but this is not available now).

Otherwise, downgrade to Neo4j 2.3.x and run Liquigraph 2.0.0 (in-memory, file, HTTP).

[2016-10-23 17:05] fbiville commented on #134
For more reference, you can follow the gist I created (sorry, for the weird filenames, but Gist won't let me order the files the way I want or put "/" in the names) : https://gist.github.com/fbiville/7d2cddac40557c33b8b0fbae4400af1c

[2016-10-23 17:05] #134 closed

[2016-10-23 17:51] geld0r commented on #134
Thank you for your quick and thorough investigation!
I can't downgrade to Neo4j 2.x anymore, so I'll postpone using Liquigraph until embedded Neo4j is supported again or I've moved to any of the other protocols. I'll definitely keep an eye on Liquigraph though, as this seems like the perfect solution for doing migrations.

[2016-10-25 22:16] fbiville commented on #129
Ongoing investigation here: https://github.com/fbiville/liquigraph/pull/135.
I know how it fails, I don't understand yet how this happens. Thx for raising the issue, tho! We'll find out!

[2016-10-27 07:49] fbiville opened #136 "Fix the legacy JDBC driver and get rid of FixedConnectionConnector/KeepAliveConnection"
Those were introduced to work around [this bug](https://github.com/neo4j-contrib/neo4j-jdbc-2x/issues/55) of the legacy JDBC driver.
We should fix the bug instead (in the [fork](https://github.com/fbiville/neo4j-jdbc-2x/)) and remove the ugly workaround.

[2016-11-16 12:29] fbiville opened #137 "[Discussion] Provide examples for various scenarii?"
Sometimes, the website might not be the best place to show how Liquigraph can be used (beyond the basic usecases).

After answering http://stackoverflow.com/questions/40584051/flyway-neo4j-spring-integration/40610291?noredirect=1#comment68483922_40610291 and writing a quick'n'dirty project (https://github.com/fbiville/liquigraph-spring-boot-example) it came to me that we should probably have built

[2016-11-16 12:30] fbiville opened #138 "[Spike] Investigate possible JCypher integrations"

[2016-11-20 10:52] pasqualeorsini opened #139 "Tests fail when run with some locales"
Almost all the tests methods of XmlSchemaValidatorTest fail when run on a system with the following locales :
- French
- German
- Japanese
- Simplified Chinese
- Korean

The tests are comparing the expected error messages with error messages localized in english.
When the error messages are localized the asserts fail.

[2016-11-20 15:10] fbiville commented on #139
Thanks a lot for your fix! LGTM
I think it's not the first time we had this issue and we somehow lost the fix in between.

[2016-11-20 15:22] fbiville commented on #139
Now fixed, thanks!

[2016-11-20 15:22] #139 closed

[2016-11-23 16:25] YoannBuch opened #141 "[Core] Support migration from a GraphDatabaseService instance"
When my application starts, it creates a `GraphDatabaseService` instance. Right after creation I'd like to use Liquigraph to run some migration logic on that instance.

It looks like it's supported by the JDBC driver:

The `ConfigurationBuilder` could offer a way to set the properties:

[code]

Eventually these properties would passed to [DriverManager.html.getConnection()](https://docs.oracle.com

[2016-11-23 16:48] YoannBuch commented on #141
Note that I initially tried this before creating the instance of `GraphDatabaseService`:

[code]

It doesn't work for my use case because we can't have multiple connections to a neo4j embedded database. The database is used by Liquigraph and it is never shutdown (I think it only shutdowns when the JVM exits).

[2016-11-24 09:16] fbiville commented on #141
@YoannBuch what about introducing `withGraphDatabaseService(GraphDatabaseService)`? it would encapsulate the JDBC driver plumbing.

[2016-11-24 11:16] YoannBuch commented on #141
Even better!

How do you want to go about this? Should I submit a PR?

[2016-11-24 13:07] fbiville commented on #141
That would be awesome! :D

[2016-11-26 16:27] fbiville opened #145 "[Core] Speed ud tests"
Some tests last 15, 30 or even 45 seconds, which makes the build painfully slow.
We should definitely work on that!

[2016-11-26 16:35] fbiville commented on #99
Hey there, would you mind publishing your work in progress somewhere?
For now, the integration with Spring Boot looks like this: https://github.com/fbiville/liquigraph-spring-boot-example.

[2016-11-26 16:39] fbiville commented on #141
Thanks a lot for your great work! 👍

[2016-11-26 16:39] #141 closed

[2016-11-27 08:32] YoannBuch commented on #141
Thanks for reviewing and merging that fast!

Please keep me updated when you create a new release.

[2016-11-30 21:13] mvitz commented on #99
Thanks for pinging me again. I put it on my list somewhere near the top. Just give me a few more days. I will (as an example) fork your project and integrate it there.

[2016-12-07 21:18] mvitz commented on #99
I put an initial version up at https://github.com/mvitz/spring-boot-starter-liquigraph and tried to use it with a branch of your example (https://github.com/mvitz/liquigraph-spring-boot-example/tree/spring-boot-starter-liquigraph).

Unfortunately currently it is not working because of some classloader stuff...

[2016-12-08 18:52] #122 closed

[2016-12-08 18:57] fbiville commented on #86
Closing it for now. Feel free to reopen it if you have a clear idea about how this should work.

[2016-12-08 18:57] #86 closed

[2016-12-08 18:57] fbiville commented on #87
Closing it for now. Feel free to reopen it if you have a clear idea about how this should work.

[2016-12-08 18:59] #87 closed

[2016-12-08 19:05] #31 closed

[2016-12-08 19:06] fbiville opened #146 "[CLI] Investigate Chocolatey packaging"

[2016-12-08 19:06] fbiville opened #147 "[CLI] Investigate DEB/RPM packaging"

[2016-12-08 19:08] fbiville commented on #129
Please see https://github.com/fbiville/liquigraph/pull/135 last comment.
Let's discuss if you don't agree.

Closing for now.

[2016-12-08 19:08] #129 closed

[2016-12-08 20:05] fbiville commented on #99
The main change in Spring Boot 1.4 classloading is here: https://github.com/spring-projects/spring-boot/commit/87fe0b2adeef85c842c009bfeebac1c84af8a5d7.

However, I'm still not clear about what to do :(

[2016-12-08 20:26] fbiville commented on #141
@YoannBuch now released. Should be soon enough in Maven Central :-)

[2016-12-08 21:21] mvitz commented on #99
Just for discussion in https://github.com/mvitz/liquigraph/commit/aac4c2ef59de541519f1c3b9e2462c238c553b17 I added a new abstraction for loading changelogs. This is used by the spring-boot-starter in https://github.com/mvitz/spring-boot-starter-liquigraph/commit/e46b42227d081ef6ff383b8c27c6272c7d075e72 and when this version is used in the example https://github.com/mvitz/liquigraph-spring-boot-exa

[2016-12-09 09:39] fbiville commented on #99
Maybe it's time to introduce a liquigraph-spring module? Cc @fpavageau

[2016-12-09 09:40] mvitz commented on #99
I'm not sure this is needed. All classes I would put into this right now are https://github.com/mvitz/spring-boot-starter-liquigraph/blob/master/src/main/java/de/mvitz/liquigraph/spring/SpringLiquigraph.java and https://github.com/mvitz/spring-boot-starter-liquigraph/blob/master/src/main/java/de/mvitz/liquigraph/spring/SpringChangelogLoader.java

[2016-12-09 13:22] fbiville commented on #99
Fetching directly Spring Framework into Liquigraph Core is undesirable in my opinion.
I don't mind creating tiny Maven modules :-)

[2016-12-09 13:30] mvitz commented on #99
I'm not sure what we're talking about here.

My change in liquigraph-core just adds a new abstraction for loading changelogs instead of using a `ClassLoader` directly. By default there is an implementation in the core which delegates to the same `ClassLoader` that is used before. No dependency to spring is added by this change. The only thing that is not backwards compatible is that `Configuration

[2016-12-09 14:05] fbiville commented on #99
Ok, my bad, I read too fast. Let me take some time to think this through.

[2016-12-10 15:34] YoannBuch commented on #141
Awesome, thank you!!

[2016-12-11 17:43] fbiville commented on #99
@mvitz I have taken some time to review the changes and that looks very good to me! Go go go! :-)
@fpavageau we should define a sensible deprecation policy by the way

[2016-12-15 10:22] sujitreddyg commented on #79
Hi, I tried with version 3.0.1, looks like this issue is not fixed yet. Here is the log:

	cvc-elt.1.a: Cannot find the declaration of element 'changelog'.
	at org.liquigraph.core.io.xml.ChangelogParser.parseChangelog(ChangelogParser.java:65) ~[liquigraph-core-3.0.1.jar:na]
	at org.liquigraph.core.io.xml.ChangelogParser.parse(ChangelogParser.java:57) ~[liquigraph-core-3.0.1.jar:na]
	at org.liquigr

[2016-12-15 12:50] fbiville commented on #79
@sujitreddyg if you replace:
[code]
with
[code]
What happens?

[2016-12-15 13:04] sujitreddyg commented on #79
@fbiville Thanks! I tried with and without xmlns, in both cases we are getting same error. Validation with both ImplicitSchemaValidator and ExplicitSchemaValidator are resulting in same errors. Please let me know if you have any suggestions.

Thanks!

[2016-12-15 23:50] fbiville commented on #79
How are you using Liquigraph?
Are you using the shell script, the Maven plugin or the core classes directly?
Also, do you have direct access to https://fbiville.github.io/liquigraph/schema/1.0/liquigraph.xsd in your environment?

[2016-12-16 06:31] sujitreddyg commented on #79
We are using Liquigraph in Spring Boot web application version 1.4.2.RELEASE - https://projects.spring.io/spring-boot/.
Added to project dependencies using Maven:
[code]

Yes, the system has access to that xsd.

Thanks!

[2016-12-19 09:54] fbiville commented on #99
@mvitz do you need other elements from us? I think it's a go on our side.

[2016-12-19 10:00] fbiville commented on #79
Not that it is linked to the issue you're having, but I'm afraid that Spring Boot support is not ready yet. We're working on a fix (@mvitz actually is).

Still, I'm not sure what's going on with this.
Could you maybe provide a minimalistic way to reproduce the issue? Thanks in advance!

[2016-12-19 10:01] mvitz commented on #99
I only need some spare time to create the PR for the ClassLoader stuff ;-)

Another question is if the spring-boot-starter should become a module in this repo.

[2016-12-19 10:02] fbiville commented on #99
If it can be a module of this project without too much hassle, it would be great!

[2016-12-19 10:04] mvitz commented on #99
Ok, I will prepare a PR this or in the next week for both.

[2016-12-19 10:08] mvitz commented on #79
You should at least show how you are using liquigraph inside your spring-boot application.

[2016-12-29 22:57] fbiville commented on #99
Congratulations, it is now merged :champagne:

[2016-12-30 00:14] fbiville commented on #136
I think this will require both our brains, @fpavageau :-)

[2016-12-30 01:32] fbiville commented on #99
Reopening, as we need to add some doc to http://fbiville.github.io/liquigraph/latest/index.html ^^
@mvitz would you have some time to do it? Everything is in plain HTML in `gh-pages` branch.

[2017-01-01 21:09] fbiville commented on #147
There is https://wiki.debian.org/Java/MavenDebianHelper and http://www.mojohaus.org/rpm-maven-plugin/.

[2017-01-02 08:34] sujitreddyg commented on #79
Hi,
Sorry for the confusion. Our usage of Liquigraph has nothing to do with Springboot, it’s just our Application runs on Springboot. In @PostConstruct method of Configuration file, we are using this piece of code to start Liquigraph migration:
[code]

Thanks!

[2017-01-02 11:04] fbiville commented on #79
@sujitreddyg I'm afraid this still has to do with the way Spring Boot packages JAR.
Luckily enough, the full-fledged support for Spring Boot has recently landed in Liquigraph 3.x (documentation to be added soon).

If you wanna give it a try before the release, please replace your Liquigraph dependency with something like the following (if you use something else than Maven, it should be pretty simi

[2017-01-02 16:37] fbiville commented on #99
Documentation added: http://fbiville.github.io/liquigraph/latest/index.html#spring-boot.
The only remaining part is the detailed documentation page. It should probably be a separate document.

[2017-01-02 16:40] fbiville commented on #99
@mvitz I'm open for feedback on the small section I added, btw. (cc @fpavageau)

[2017-01-02 21:47] mburak opened #151 "[Support request] Running groovy scripts"
Is running groovy scripts on a changeset (instead of just cypher) allowed? Or are you planning to include this feature?

[2017-01-03 13:19] fbiville commented on #151
Hi, thanks for opening an issue and happy new year!
By Groovy script, do you mean https://github.com/tinkerpop/gremlin?
This could be a good user story.

IIRC, Gremlin is not supported out of the box in Neo4j, or?

[2017-01-03 13:35] fbiville commented on #151
Actually, I I see two scenarios:

1. supporting Gremlin for Neo4j migrations
1. supporting Gremlin for all kinds of "Tinkerpop graph DBs"

The first one seems a bit like a niche to me: the trend for Neo4j is to focus on Cypher.
The second one is much more interesting but also much bigger and more complex.

Did you have anything like that in mind?

[2017-01-03 13:52] mburak commented on #151
Hi, thanks for your quick reply!
Actually I was thinking about more generic groovy scripts like what it's provided in these projects:
- https://github.com/grails-plugins/grails-database-migration
- https://grails.org/plugin/groovations

The use case is basically that sometimes just doing a cypher query is not enough for a migration and we need more logic that depends on the business model, so i.e.

[2017-01-04 09:34] fbiville commented on #151
@mburak I see.
The best bet for now is to directly use Liquigraph Core API and programmatically define migrations this way. Maybe that can integrate with grails-database-migration, but that would require some initial exploration. If you're willing to dig into that, your help is most welcome! :-)

[2017-01-04 14:00] mvitz commented on #99
Sorry I'm in vacation right now and don't have much time ;-)

I will add a MR next week with some slight enhancements but as a starting point this will work.

Notes:
- @EnableAutoConfiguration is normally not needed because @SpringBootApplication is used.
- Location of the change log can be changed this should be documented
- Configuration of the datasource can be done by simply using the default

[2017-01-04 14:08] mvitz commented on #79
Your description exactly shows the code I'm using in our last neo4j based project. And this normally works.

Does your project consist of several JARs? Maybe the configuration file is in another module than the code that loads the configuration file.

[2017-01-06 07:56] sujitreddyg commented on #79
@fbiville Thanks! We will try liquigraph-spring-boot-starter. Sorry for delayed response.

@mvitz We are using spring-boot-maven-plugin to build a single jar. Do you think this might be causing the problem?

[2017-01-06 09:43] fbiville commented on #99
@mvitz thanks for the feedback. I think I'll wait for your update on the docs before releasing. You know that part better than me.

[2017-01-13 23:26] geld0r opened #152 ""java.lang.IllegalStateException: No supported DataSource type found" when using liquigraph-spring-boot-starter with application.properties"
Hi,

I've tried to use the new (and very convenient!) Liquigraph Spring Boot starter to perform migration when the application starts.
I've followed the instructions in the 5-minute starter guide and only configured the following entries in my `application.properties`:

 - `liquigraph.url`
 - `liquigraph.user`
 - `liquigraph.password`

I am not using any other DataSource. According to the document

[2017-01-14 16:03] fbiville commented on #152
Hi, thanks for the report.
@mvitz is working on the complete docs, I just very quickly wrote the one you read, so let me see if something is missing.

[2017-01-14 16:16] fbiville commented on #152
Can you tell me what is the URI you configured? Thanks in advance!

[2017-01-14 22:26] geld0r commented on #152
I have this in my application.properties:
`liquigraph.url=localhost
liquigraph.user=neo4j
liquigraph.password=pass`

The connection string for the bolt connection to the database I use is:
`bolt://neo4j:pass@localhost`
The connection is not done via `DataSource` though, but via neo4j-ogm's mechanism (org.neo4j.ogm.config.Configuration).

[2017-01-15 12:06] fbiville commented on #152
Thanks.
In the case of Liquigraph, you still need to pass the connection URL in the JDBC format.
Can you try changing the URL to this format and see if it works?

[2017-01-15 13:24] geld0r commented on #152
I've not had success with that.
I think this is rather due to having neither of
`"org.apache.tomcat.jdbc.pool.DataSource",
			"com.zaxxer.hikari.HikariDataSource",
			"org.apache.commons.dbcp.BasicDataSource",
			"org.apache.commons.dbcp2.BasicDataSource"`
on the classpath (this is where the exception comes from).
At least when using spring-data-neo4j/neo4j-ogm it should not be required to have an

[2017-01-15 18:51] fbiville commented on #152
The thing is, I'm sure the URL must be in JDBC format. Can you paste the error message with the fixed URL?

Also, could you please paste your dependency tree here?

Thanks!

[2017-01-15 19:59] geld0r commented on #152
Sure.
Note that I am not very familiar with neither jdbc nor DataSource, so its likely that I missed something obvious.

This is the application.properties:
`liquigraph.url=bolt://neo4j:pass@localhost`
`liquigraph.user=neo4j`
`liquigraph.password=pass`
`spring.datasource.url=bolt://neo4j:pass@localhost`

Exception:
`Caused by: org.springframework.beans.BeanInstantiationException: Failed to instant

[2017-01-16 12:44] fbiville commented on #152
Hi, can you try with this URL: `jdbc:neo4j:bolt://localhost`?
Thanks in advance!

[2017-01-16 12:49] mvitz commented on #152
Additional if you are only using a single database I highly recommend that you only use `spring.datasource.url` as property and drop the `liquibase.*` ones.

[2017-01-16 14:58] fbiville commented on #99
Hi @mvitz, sorry to be a bit pushy about this, but people are already trying to use the Spring Boot module and clearly the docs are not in a good enough shape. If you could complete them soon, it would be awesome ;-)

[2017-01-16 21:46] geld0r commented on #152
Thanks @fbiville @mvitz. I only use a single db so I dropped the `liquigraph.*` properties as suggested. Now only this remains:
`spring.datasource.url=jdbc:neo4j:bolt://localhost`
`spring.datasource.username=neo4j`
`spring.datasource.password=pass`

Now I receive:
`Caused by: java.lang.RuntimeException:
	 - Exactly one of JDBC URI or DataSource need to be configured
	at org.liquigraph.core.configu

[2017-01-17 03:04] wanzzzone opened #154 "Error when using Liquigraph dependencies and Stanford NLP dependencies"
I've been trying to implement liquigraph on my project. I'm using this example https://github.com/fbiville/liquigraph-spring-boot-example. The example runs fine until I tried to add two dependencies from Stanford NLP:

[code]

After I added these two dependencies, I got this error :
[code]

This is the mvn dependency:tree before i add stanford nlp:
[code]

This is the mvn dependency:tree after i a

[2017-01-17 09:16] fbiville commented on #154
Thanks for the report.

Basically, Xerces is in conflict with JAXB.

Doing this:
[code]

seems to avoid the error.

However, does Stanford NLP remain usable without Xerces? I'm not sure.

Can you try this and use some code from that lib to confirm it works or not?

[2017-01-17 09:44] fbiville opened #155 "[Core] Add logging to understand what's going on"
There should be some logs indicating what's going on when the migrations are running.
This would definitely help end users.

[2017-01-17 09:45] fbiville commented on #152
@geld0r to be honest, I wrote a minimum documentation about Spring Boot Starter and this clearly needs improvements (they're on the way). Indeed, the default location for the Spring Boot Starter is `db/liquigraph/changelog.xml`, not `db/migrations/changelog.xml`.

We clearly needs more logs: I just created https://github.com/fbiville/liquigraph/issues/155 to that end.

Let me investigate why `Hika

[2017-01-17 10:33] fbiville commented on #152
So, I just looked into `neo4j-jdbc` and it does not provide an implementation of `DataSource`.
I'll discuss with the Neo4j JDBC to see if they plan to provide a DataSource implementation, which would be quite convenient, because the other JDBC API are already implemented!

In the mean time, you need to provide your DataSource impl, so using `HikariCP` does the trick.
Please be assured we'll improv

[2017-01-17 10:47] mvitz commented on #152
Because I am currently working on the documentation. I tried it out myself ;-)

Could you please try the following things:
1. Add `spring-boot-starter-jdbc` as a dependency. This starter is required to use the `DataSource` magic from spring-boot
2. Make sure you added a dependency to the matching Neo4j driver (Bolt/HTTP).
3. Include `spring.datasource.url`, `spring.datasource.driver-class-name`, `

[2017-01-17 10:51] fbiville opened #156 "[Spike] Investigate utility to help defined migrations for Spring Data Neo4j apps"
Defining mapping with SDN is super easy, defining XML Liquigraph migrations not quite so.
It could either be:

 - a small utility that generates migration examples for each entity type
 - a Spring Data Neo4j module to define migrations from within SDN
 - maybe something else?

[2017-01-17 10:55] fbiville commented on #152
@mvitz feel free to update the example application by the way :-)

[2017-01-17 11:08] fbiville opened #157 "Document supported JDBC URI in liquigraph.org website"

[2017-01-17 11:25] fbiville commented on #152
Example application now up-to-date thanks to @mvitz PR: @geld0r feel free to have a look at https://github.com/fbiville/liquigraph-spring-boot-example again!

[2017-01-17 11:28] wanzzzone commented on #154
Yes confirmed can run if i exclude xerces.
So far still runs fine but i don't know if i will use that xerces or not.
Can you please enlighten me what the usage of xerces? and why it conflict with liquigraph?
Can this issue solved without  i need to exclude the xerces?
Thank you

[2017-01-17 11:35] fbiville commented on #154
Basically, Liquigraph rely on the default JAXB implementation shipped with the Java Development Kit to deserialize XML changelogs into Java objects.

Xerces is a concurrent library that also implements the JAXB specification.

What happens is that the default JAXB implementation pulled by Liquigraph globally registers its XML parser, so does Xerces. In the end, Xerces overwrites the other parser a

[2017-01-17 12:30] mvitz commented on #154
In fact I think we don't have much chances here to fix this on our side.

Xerces which is transitive included in your case is used as the JAXB implementation and it seems this version of Xerces does not have all the features required by Liquigraph.

All I found is the documentation for XOM (which includes Xerces):

So it may be fine to exclude all of these as the current JDKs ship newer versions a

[2017-01-17 21:03] geld0r commented on #152
I've followed @mvitz suggestions (using spring-boot-starter-jdbc) and that seems to work :)
I have to say "seems" as my migration is probably still running. As tracked in #155 one currently isn't informed that a migration is going to take place. I can see however that the DB is under heavy load and that the lock-node has been written.

I just re-read the updated description and also checked the de

[2017-01-18 04:22] wanzzzone commented on #154
Okay thank you for the answer. I think i stick to this solution :).

[2017-01-18 04:22] #154 closed

[2017-01-18 08:54] mvitz opened #159 "Use lightweight markup language for documentation"
GitHub is capable of rendering markdown for GitHub pages. I think writing the documentation in markdown would be a lot easier than using the raw HTML.

[2017-01-18 10:37] fbiville commented on #159
I would even go with Asciidoctor :-)
I've already done a few things with it, such as https://fbiville.github.io/neo4j-training/ and https://github.com/fbiville/annotation-processing-ftw.

[2017-01-18 10:39] fbiville commented on #152
Thanks a lot! We'll definitely add logging in Liquigraph core so users can follow what's going on.

[2017-01-18 10:39] #152 closed

[2017-01-18 10:42] fbiville commented on #79
@sujitreddyg have you had a change to test the new Spring Boot starter module? This is now nicely documented: http://fbiville.github.io/liquigraph/latest/index.html#spring-boot.

[2017-01-21 22:38] fbiville commented on #137
First example merged thanks to @pasqualeorsini work!
More to come soon!

[2017-01-21 22:38] #137 closed

[2017-01-24 12:30] fbiville opened #163 "Fix XML schema error"
Currently, we get: `cannot find the declaration of the element 'changelog'`

[2017-01-24 13:13] #163 closed

[2017-01-24 13:13] fbiville commented on #163
Easy as:
[code]

[2017-01-31 21:26] fbiville opened #169 "Investigate CLI size difference between 2.x and 3.x"
It seems 3.x is almost as 4 times as small as 2.x CLI. Why?

[2017-02-28 19:09] fbiville opened #172 "Support custom syntax for Neo4j OGM"
Neo4j OGM and Spring Data Neo4j lets developers think in terms of their business domain rather than nodes and relationships.

The idea would be to provide a custom XML schema that allows to express migrations in terms of entities, rather than raw Cypher queries.

For instance, we could imagine something like:

[code]

This is just a rough idea of what it could be like.
In the long term, we need to

[2017-03-24 17:06] fbiville opened #175 "Provide optional validation with OpenCypher grammar"
Optional because the grammar is still in beta.

[2017-03-28 19:42] fpavageau commented on #169
Not a PR (yet?), but a contribution still: `2.x` can use Neo4j classes in embedded mode:
- Use the [`GraphDatabaseService`](https://github.com/liquigraph/liquigraph/blob/2.x/liquigraph-core/src/main/java/org/liquigraph/core/configuration/ConfigurationBuilder.java#L49) as the "datasource".
- The JDBC driver can return a [`Node`](https://github.com/liquigraph/liquigraph/blob/2.x/liquigraph-core/src/

[2017-05-22 17:35] benoutram opened #181 "[Spring Boot Starter] Support for execution contexts"
With the Spring Boot Starter, migrations are run automatically at startup. It doesn't appear possible to control execution contexts at the moment resulting in all contexts being run.

[2017-05-23 08:09] fbiville commented on #181
Thanks for the report, let us think about a good approach to configure this 👍

[2017-05-26 14:34] fbiville commented on #169
Thanks

[2017-05-26 14:34] #169 closed

[2017-05-26 14:45] fbiville commented on #51
Finally merged in master and 2.x, with minor changes. Thanks a lot!

[2017-05-26 14:45] #51 closed

[2017-05-26 14:45] #119 closed

[2017-05-26 14:46] fbiville commented on #79
Feel free to comment again if you are still facing issues.

[2017-05-26 14:46] #79 closed

[2017-05-26 14:47] fbiville commented on #99
I think this is done :)

[2017-05-26 14:47] #99 closed

[2017-05-26 14:47] fbiville commented on #151
Not actively working on this issue right now, so I'll close it.
Let's reopen it if other people express the same needs or a PR shows up :)

[2017-05-26 14:47] #151 closed

[2017-05-26 14:48] fbiville commented on #181
@benoutram would you be willing to submit a pull request? The additions should be quite straightforward and we can help!

[2017-05-26 14:49] fbiville commented on #156
Better tracked in https://github.com/liquigraph/liquigraph/issues/172.

[2017-05-26 14:54] #147 closed

[2017-07-18 15:47] aillusions opened #185 "Allow to configure Migration with embedded GraphDatabaseService instace"
I'm instantiating neo4j in my app's JVM

[code]
So there is no DataSource or JDBC URL to be able to configure Liquigraph migration, which only accept one of those.

Can we have something like

[code]

Thanks

[2017-07-25 20:06] fbiville commented on #185
Hello, what version of Neo4j are you using?
If you are using Neo4j 2.x, you already can: https://github.com/liquigraph/liquigraph/blob/2.x/liquigraph-core/src/main/java/org/liquigraph/core/configuration/ConfigurationBuilder.java#L106

[2017-07-29 16:36] jpopadak commented on #138
Another possibility could be a QueryDSL integration: https://github.com/neo4j-contrib/cypher-dsl

[2017-07-30 09:15] fbiville commented on #138
Wow, super interesting! Would you be interested in prototyping something? :)

[2017-08-03 13:09] jpopadak commented on #138
Possibly.The good thing about QueryDSL / `cypher-dsl` is that Neo4j backs it, unlike JCypher.

[2017-08-12 08:58] geld0r commented on #155
Any progress on this?
I've recently encountered several cases where my app is hanging on startup which I believe is due to liquigraph (probably while trying to lock the DB). Since there is nothing in the logs, this is hard to investigate...

[2017-08-13 07:52] #157 closed

[2017-08-13 07:56] fbiville commented on #155
Hi, thanks for the reminder. We're currently working on infrastructure and did not get back to this issue.

Would you like to submit a PR or review one? This should not require too much effort.

This is an important one, we'll try to push something asap otherwise.

[2017-09-09 23:57] fbiville commented on #185
Closing this now. Feel free to reopen if you don't find the previous answer satisfactory.

[2017-09-09 23:57] #185 closed

[2017-09-10 00:01] fbiville opened #190 "[Core] Replace JDBC drivers with our own Trinity"
Only blocker: first release of https://github.com/liquigraph/trinity (we need the Bolt implementation for that).

3 main tasks:

1. get rid of `2.x` and keep only to `master`
1. write a tiny compatibility layer that reads JDBC urls and calls `org.liquigraph.trinity.CypherClientLookup` instead of relying on a JDBC driver
1. offer+document simpler configuration options that transparently work with T

[2017-09-10 00:05] fbiville commented on #172
And that custom schema... should much probably be GraphML!
I received an email the other day complaining about something related:

[code]

Even though the email is about `nosqlunit-neo4j`, the XML above is a good example of something Liquigraph for Neo4j OGM should support.

[2017-09-10 00:05] fbiville commented on #136
As we are about to move to https://github.com/liquigraph/trinity at some point, I'm just gonna drop this one.

[2017-09-10 00:05] #136 closed

[2017-09-10 00:06] fbiville commented on #138
An alternative to using a DSL would be to parse Cypher strings, as suggested by https://github.com/liquigraph/liquigraph/issues/175.

[2017-10-07 18:58] Artgit opened #192 "Spring Boot 2 support"
Hi!

First of all, thank you very much for your awesome work!

I have a question - do you support Spring Boot 2 for `liquigraph-spring-boot-starter` ?

Thanks.

[2017-10-10 11:51] fbiville commented on #192
Hi,

That's a great question. I'm not sure, we have not tested it yet.
@mvitz what do you think?

[2017-10-10 12:33] mvitz commented on #192
As far as I am aware they did not change anything regarding the auto configuration. Therefore it should be possible to use this starter with Spring Boot 2.

[2017-10-27 12:33] fbiville opened #193 "[Core] Support CSV import"
And implement a shim for older 2.x versions of Neo4j that do not support it.
That way, we could also use Liquigraph to import initial dumps :)

[2017-12-04 16:13] glaggia-larus commented on #152
Hi Florent, you can check my PR related to https://github.com/neo4j-contrib/neo4j-jdbc/issues/90 to see if everithing works

[2017-12-05 09:09] igler opened #194 "Repository with stable version"
Is there a repository I can integrate into pom.xml where a stable version of `liquigraph-spring-boot-starter` is hosted?

[2017-12-05 12:19] fbiville commented on #194
Hi, we have not released the Spring Boot starter yet, as there were some blocker issues.
The good news is that these issues should be solved soon and therefore we will be able to produce a new release soon as well.

[2017-12-05 12:21] fbiville commented on #152
@glaggia-larus let me try to find some time this week (not guaranteed but I'll try)

[2017-12-05 12:28] igler commented on #194
Cool, looking forward to stable release! BTW, great work!

[2017-12-26 09:12] fbiville commented on #116
Done via https://github.com/liquigraph/liquigraph/commit/86eb4d087c2d996982cf3dab726a514376ffe20a

[2017-12-26 09:12] #116 closed

[2017-12-27 11:06] fbiville commented on #192
@Artgit feel free to try Spring Boot 2
You can look at our own Spring Boot 1.5 example as a starting point (https://github.com/liquigraph/liquigraph/tree/master/liquigraph-examples/spring-boot)

[2017-12-27 11:06] #192 closed

[2017-12-29 13:47] fbiville commented on #194
@igler Liquigraph 3.0.2 (with Spring Boot!) has been released today!

[2017-12-29 13:47] #194 closed

[2017-12-29 13:57] fbiville opened #201 "Create a bot that send PRs for new Neo4j versions"
Today, Neo4j versions are updated in https://github.com/liquigraph/liquigraph/blob/master/.travis.yml (Neo4j 2.x new versions are updated on the `2.x` branch).

As you can see in [Travis build matrix](https://docs.travis-ci.com/user/customizing-the-build/#Build-Matrix), we keep the latest versions of each version branch:

 - 2.0.x, 2.1.x, 2.2.x, 2.3.x
 - 3.0.x, 3.1.x, 3.2.x, 3.3.x and soon 3.4.x

[2017-12-29 13:58] #145 closed

[2017-12-29 14:40] fbiville opened #202 "Create a module for useful Liquigraph Cypher extensions"
- `liquigraphChangelog()` -> `List<Node>` ordered by history
 - `lastLiquigraphChangeset()` -> `Node`
 - `dryRunMigrations(Path)` -> `List<Node>` (view graph that would have been persisted)
 - `runMigrations(Path)` -> `List<Node>`
 - `isInternalToLiquigraph(Node|Relationship)` -> `boolean`
 - `removeChangelog()`

[2018-01-02 16:20] fbiville commented on #181
Working on it now.

 - [ ] Fixing the unused `liquigraph.enabled` flag to disable Liquigraph automatic start.\
 - [ ] Allow the configuration of execution modes (dry-run vs. run). While run remains the default, dry-run can be interesting in tests.
 - [ ] Allow the configuration of execution contexts.

[2018-01-03 08:19] mvitz commented on #181
@fbiville although it seems the `liquigraph.enabled` flag is never used it is actually referenced in `LiquigraphAutoconfiguration` (https://github.com/liquigraph/liquigraph/blob/5492eeab1c24ea39ad6978bb2b2eee395adc486d/liquigraph-spring-boot-starter/src/main/java/org/liquigraph/spring/starter/LiquigraphAutoConfiguration.java#L43). If is it set to `false` the complete auto configuration is ignored

[2018-01-03 08:26] fbiville commented on #181
Oh, good catch! I somehow completely missed the line :)

[2018-01-03 16:43] fbiville commented on #181
I think I'll solely focus on execution contexts for now as the execution mode support may require some changes in Liquigraph core, this will be filed in another issue.

[2018-01-04 16:32] fbiville commented on #181
Merged in 782e7d65f52968bd1b78841e7017c9faa21e2f4c.

[2018-01-04 16:32] #181 closed

[2018-01-30 19:45] fbiville opened #206 "Build against minimum 3.x version"
Test against 3.0.0? 3.0.2??

[2018-03-06 13:54] ihatemundays opened #207 "zip, tar.gz, and tar.bz2 links do not work in the latest version of the documentation"
I tried downloading the standalone liquigraph component from the [help page](http://www.liquigraph.org/latest/index.html), and it can't be found in the maven repository.

I stepped back one less version in the [documentation](http://www.liquigraph.org/3.0.x/index.html), and I noticed that those links do work.

It looks to just be a link reference error.

[2018-03-08 09:18] fbiville commented on #207
Hi,

Thanks a lot for the report! I'll fix the versions in the links, unless you want to submit a pull-request on [the documentation](https://github.com/liquigraph/liquigraph.github.io/blob/master/latest/index.html)? :)

[2018-03-12 12:19] #206 closed

[2018-03-12 12:31] fbiville commented on #207
It should be fixed now, thanks for reporting!

[2018-03-12 12:32] #207 closed

[2018-03-12 12:32] fbiville commented on #201
Work in progress in a secret repo ;)

[2018-03-12 12:32] #201 closed

[2018-04-24 18:46] fbiville opened #208 "Support parameterized query"

[2018-06-07 11:44] ericsantosn opened #210 "[3.x] Document support of bolt+routing"
I'm trying to use this liquidgraph tool to manage our schemas on neo4j and endup in a situation where to url below works

but this one

I get

Apparently from what I can see the neo4j driver that liquidgraph is using does not support routing yet?

routing for us is really important since we have cluster and without rounting it might happen that the migration will run in the FOLLOWER and not in the

[2018-06-07 15:54] fbiville commented on #210
@ericsantosn hi, thanks for the report!
Have you explicitly upgraded the Bolt JDBC driver to a version that supports it?
Would you mind sharing your classpath (via `mvn dependency:tree` or equivalent)?

[2018-06-07 15:59] ericsantosn commented on #210
Hi @fbiville so I check with neo4j guys what happens is that the driver does not support bolt+routing, but apparently they are working in a new version of this driver to support routing.

[2018-06-07 16:02] fbiville commented on #210
Oh I see, I thought it was released already, I remember a Pull Request on neo4j-contrib/neo4j-jdbc was merged a few weeks ago to support that.

[2018-06-07 16:03] fbiville commented on #210
https://github.com/neo4j-contrib/neo4j-jdbc/pull/130

[2018-06-07 16:04] fbiville commented on #210
If you do not want to wait for 3.3.1 to be released, you build https://github.com/neo4j-contrib/neo4j-jdbc yourself and use that as a dependency.

[2018-06-07 16:14] ericsantosn commented on #210
@fbiville i will try that, cause right now even if I replace with 3.3.0 i still get the issue, thx for your time!

[2018-06-13 06:42] fbiville commented on #210
3.3.1 is out: https://github.com/neo4j-contrib/neo4j-jdbc/releases/tag/3.3.1

[2018-06-14 07:52] ericsantosn commented on #210
@fbiville trying it right now!

[2018-06-21 11:01] snicoll opened #211 "Consider adding Spring Boot 2 support"
Relates to https://github.com/spring-projects/spring-boot/issues/13510

We are reviewing our [community starters list](https://github.com/spring-projects/spring-boot/blob/7683d346e31bbe0313a03ce487ee59454665a143/spring-boot-project/spring-boot-starters/README.adoc) and a quick look here suggests that this starter doesn’t yet support Spring Boot 2.

Can you please let us know if/when you plan to su

[2018-06-21 11:04] fbiville commented on #211
Yes, we plan to.
Just need to estimate what needs to be done and then should be done pretty soon.

[2018-06-24 12:07] fbiville commented on #210
@ericsantosn how did it go? Any issue?

[2018-06-25 08:14] ericsantosn commented on #210
@fbiville sorry I forgot to get back to you! it worked, and works like a charm. thanks!

[2018-06-25 08:55] fbiville commented on #210
Did you find enough documentation to achieve what you wanted to do? Should it be augmented?

[2018-06-26 09:32] fbiville commented on #210
Yep, I just wondered if it would be valuable to add this in the documentation.

[2018-06-26 09:54] ericsantosn commented on #210
I guess that might be valuable, at least till a new release of liquidgraph.

[2018-06-29 20:14] fbiville commented on #155
@geld0r sorry to resurrect an old discussion, but some work has been done now and merged into master. Feel free to check https://github.com/liquigraph/liquigraph/commit/fa9d07e1836bc7dd98f981fc0b6e21c6920fe151 and reopen this issue if you think some important details have been left out.

[2018-06-29 20:14] #155 closed

[2018-06-29 20:18] fbiville commented on #208
Work in progress by @pasqualeorsini here: https://github.com/liquigraph/liquigraph/pull/209/commits/7314d7eaee38a528b00e3869a42fa8baf1160037.

[2018-08-03 12:06] fbiville opened #214 "Fix Dagger2 example flaky test"
Ignored for now, needs some investigation

[2018-08-28 04:56] MazizEsa opened #217 "How do you remove all liquigraph from neo4j"
I want to remove all liquigraph traces from neo4j so the next time it's being run it will recognize as new db.
How it should be done?

[2018-08-28 05:35] MazizEsa commented on #217
Yeah precisely. And any traces of liquigraph.

[2018-08-28 07:29] fbiville commented on #217
Note/disclaimer to future readers: this is an implementation detail of Liquigraph and is subject to change. Following the instructions below are not guaranteed to work. Do it at your own risk.

You can run something like:
[code]

May I know why you need to remove Liquigraph? Did something unexpected happen?

[2018-08-28 07:34] MazizEsa commented on #217
No nothing wrong. I wanted to remove so that I can reapply again on places that you can't remove the file in neo4j.

What about the index and the constrain?

[2018-08-28 07:38] fbiville commented on #217
There is only one index/constraint: a unicity constraint is set on `__LiquigraphLock`.

[2018-08-28 07:39] MazizEsa commented on #217
Ah so i guess you just need ot run these right?

[2018-08-28 07:43] fbiville commented on #217
Exactly, you can run these once, targetting the database you are running Liquigraph on.

[2018-08-28 07:44] MazizEsa commented on #217
Got it thanks. Maybe should put this in doc somewhere? @fbiville

[2018-08-28 07:44] #217 closed

[2018-08-28 07:47] fbiville commented on #217
@MazizEsa this is very tied to the implementation of Liquigraph and I am not willing to publish these as if it was a public API.

However, I agree there is a need to have a way to clean up the history graph. Maybe we could implement an extra command like : `liquigraph remove-all` or something like that (whether with Liquigraph core, Liquigraph Maven plugin or Liquigraph shell).

Let me open an iss

[2018-08-28 08:16] fbiville opened #218 "Implement Liquigraph task to remove the entire history graph (+ constraints/indices)"
Following a discussion [here](https://github.com/liquigraph/liquigraph/issues/217), I think it could be a good idea to implement a task to remove the entire Liquigraph history and constraints/indices if something goes wrong.

This task is quite destructive, so it should probably be guarded with a confirmation ask (and a `--force` flag for automation).

It's probably worth it to port this task to t

[2018-08-28 08:16] fbiville commented on #218
@fpavageau @mvitz what do you think?

[2018-09-15 05:24] drago-dais opened #220 "Failed migrations leave __LiquigraphLock in place"
__LiquigraphLock is left in place whenever migration / changset fails.

Here's an excerpt from the log:
[code]

To reproduce this, create changeset that fails (for example, create an invalid query).

This  was observed in a Spring Boot application, using org.liquigraph:liquigraph-spring-boot-starter:3.0.2.

[2018-09-15 05:34] drago-dais commented on #220
To fix this, I had to do two things:
 * explicitly roll back current transaction before executing lock node cleanup statement, to cover the case where there is a failed, but not yet closed transaction
 * upgrade neo4j-jdbc-driver to 3.3.1 (because 3.1.0 does not start new transaction on rollback)

[code]

[2018-09-15 10:01] fbiville commented on #220
Hi, thanks a lot for your detailed analysis. I'll dig this a bit more, and port the fix to both 3.0 and 3.1 (and investigate if the same behavior is on 2.x).

[2018-09-15 16:29] drago-dais commented on #220
Thanks a lot for such a quick reply!

An alternative to upgrading the jdbc driver to 3.3.x is to follow `connection.rollback()` with immediate `connection.commit()`. (This may be an interesting alternative for the older versions of liquigraph, where you may want to keep the jdbc driver at 3.1.0.)

To illustrate the jdbc driver issue, consider the following snippet:
[code]

[2018-10-16 15:05] fbiville opened #221 "Set up code of conduct"

[2018-10-17 12:06] fbiville commented on #221
Done: https://github.com/liquigraph/liquigraph/commit/03e71beba7c6c3082ada62df91a3b933a39c8e1f

[2018-10-17 12:06] #221 closed

[2018-10-26 14:16] fbiville opened #222 "Upgrade Spark Java in example because of CVE"
https://nvd.nist.gov/vuln/detail/CVE-2018-9159

[2018-10-30 20:20] badrfoot opened #225 "Upgrade JaCoCo"
Currently fails in Travis CI:
[code]

[2018-11-20 15:21] fbiville opened #226 "Fix build with JDK 11"

[2018-11-20 22:50] fpavageau commented on #226
Do we need to build with JDK 11? Run it, sure, but why build it? We'd need a Java 8 target, and a check of the API used to be sure we don't call new methods.

[2018-12-13 14:47] lio955 opened #227 "Spring boot app never closes (Bolt + Hikari)"
With the 3.4.0 neo4j driver on a bolt url and using Hikari CP as described in the 5minutes guide, the spring boot app never ends.

[2018-12-13 15:17] fbiville commented on #227
Hi, thanks for the report.
Would you have a sample app that one can test?

[2019-02-06 18:36] ctytgat opened #228 "Wrong loglevel for "Executing postcondition ...""
Why does this statement have an ERROR log level?
[code]

[2019-02-07 10:42] fbiville commented on #228
Good question, thanks for pointing that out :)
It should just be an INFO level indeed. Would you like to submit a PR for this?

[2019-02-27 20:36] fbiville opened #235 "Sonar reporting now fails"
[code]

[2019-03-08 14:35] #228 closed

[2019-05-14 14:57] mad opened #239 "Support for JanusGraph"
JanusGraph has schema configuration API https://docs.janusgraph.org/latest/schema.html

[2019-05-15 17:33] fbiville commented on #239
Hi and thanks for opening this issue.

That is interesting but given Liquigraph is at the moment tightly coupled to Cypher as a query language, I am not sure how much it would require to support another graph database.

Does JanusGraph support (open)cypher?
Does JanusGraph support transactions?

[2019-05-16 20:03] mad commented on #239
Hi

JanusGraph backed by [tinkepop](http://tinkerpop.apache.org/) and support [gremlin query](https://docs.janusgraph.org/latest/gremlin.html) as main query language. Possibly, may use [cypher-for-gremlin](https://github.com/opencypher/cypher-for-gremlin) for some changes

JanusGraph support low level schema configuration like a property datatype/cardinality/renaming, index building and so on, thr

[2019-06-18 19:02] robertlagrant commented on #210
@fbiville is the newer version likely to be in liquigraph at some point? I see it's still pinned to 3.1.0 in the pom.xml.

[2019-06-21 13:02] fbiville commented on #210
@robertlagrant if it works, it should be documented
However, Liquigraph on `master` has to remain compatible with all Neo4j 3.x versions and as far as I remember, the recent releases of the JDBC driver introduces backwards incompatibilities.
Happy to merge documentation PRs!

[2019-09-16 16:53] sintezcs opened #240 "How can I define and execute rollbacks?"
In liquibase, you can [define "rollback" queries](https://www.liquibase.org/documentation/rollback.html) in your migration XML files, and then rollback your changeset by executing a command. Is it possible to do something similar with Liquigraph? How can I define and execute rollback queries?

[2019-09-16 17:13] fbiville commented on #240
Hi, and thanks for the report!
It's currently not possible but it would be a welcome addition.
Would you be interested in contributing this feature? If so, I can guide you through the codebase.

[2019-09-17 13:52] fbiville commented on #240
I'll pitch the feature in the next Paris Hackergarten meetup (in 1 week!). :)

[2019-09-19 15:00] sintezcs commented on #240
That would be great!

[2019-10-01 23:19] mattharr opened #241 "[core] Using Liquigraph offline"
Hi,
We're using Neo4j, and so I was looking at using liquigraph to manage the database.  I'd got it up and running fine on my machine, but when I tried on the server I got the following in the log:

12:07:27.493 WARN  [main] o.l.core.io.xml.ChangelogParser – XSD validation warning : schema_reference.4: Failed to read schema document 'http://www.liquigraph.org/schema/1.0/liquigraph.xsd', because 1)

[2019-10-01 23:22] mattharr commented on #241
I should say, without the noNamespaceSchemaLocation attribute, I get the following error:

12:21:28.005 ERROR [main] o.l.core.io.xml.ChangelogParser – XSD validation error : cvc-elt.1.a: Cannot find the declaration of element 'changelog'.
java.lang.IllegalArgumentException:
	cvc-elt.1.a: Cannot find the declaration of element 'changelog'.
	at org.liquigraph.core.io.xml.ChangelogParser.parseChangel

[2019-10-02 10:55] fbiville commented on #241
Hi, thanks for the report.
You raise a very good point, the schema not being reachable should not block Liquigraph.
Would you be interested in submitting a patch? I can guide you through the codebase.

[2019-10-02 14:18] mvitz commented on #241
Some hints for resolving this:

For Java SAX Parsers a custom `org.xml.sax.EntityResolver` can be registered (via `setEntityResolver`) that is responsible for retrieving the schema that will be used for validation.

Spring already solved the same kind of problem with their own `EntityResolver` (see https://github.com/spring-projects/spring-framework/blob/3a0f309e2c9fdbbf7fb2d348be861528177f8555/sp

[2019-10-03 08:13] mattharr commented on #241
Hi,

I will try have a look into it.  I have forked it, and pulled it down to have a look, but got some test failures - maybe because I'm on Windows(?) but I'll have a look.

In terms of making the change, in the first instance should I look at the ExplicitSchemaValidator?  Why the Implicit and Explicit Validators?  I guess both need fixing up?  Then I'll add all the schema definitions in to the c

[2019-10-03 10:13] fbiville commented on #241
@mattharr As far as I remember, the `Implicit` instance was introduced for backwards compatibility, as the first Liquigraph versions did not work with a schema and we wanted to continue to support that.

Regarding the Windows errors, that is something we do not monitor frequently enough (maybe we can update our Travis CI to run on Windows) and there may be build errors indeed, sorry about that!

I

[2019-10-04 00:14] mattharr commented on #241
Hi,

I had a go at a first pass: https://github.com/mattharr/liquigraph/commit/ac7d953355d9dd105c44ccc7fc8ec9212805e339

I ended up commenting out the tests that didn't pass for me - I'll look to circle back and have a look at them at some point if its worth getting them going again?  (need to brush up on my regex).

I ended up only adding the one xsd, as I found that that passed all the tests, an

[2019-10-04 10:13] fbiville commented on #241
@mvitz would you be available to follow that issue and help @mattharr? you are definitely more knowledgeable than me on this topic :)

[2019-10-07 06:36] mvitz commented on #241
I'll try to find some time this week.

[2019-10-07 06:58] fbiville commented on #241
FYI I fixed a bunch of issues in https://github.com/liquigraph/liquigraph/pull/242. I'll merge them when I land.

[2019-10-07 23:37] fbiville opened #245 "Investigate `run_always` and `run_on_change` behavior when used together"
I'm not entirely sure what the behavior is right now and what it should be (if we take Liquibase as the reference).

[2019-10-08 03:35] #222 closed

[2019-10-08 03:35] #225 closed

[2019-10-08 03:36] fbiville commented on #239
If someone is interested in implementing the support, I'm happy to offer guidance. Closing the issue for now.

[2019-10-08 03:36] #239 closed

[2019-10-08 03:36] #235 closed

[2019-10-08 03:51] fbiville commented on #55
We haven't been able to continue. Happy to re-open if someone is willing to take over the started work.

[2019-10-08 03:51] #55 closed

[2019-10-10 07:08] fbiville commented on #220
Hey, apologies for getting back to this issue 1+ year later!
What I ended up doing (https://github.com/liquigraph/liquigraph/pull/246) is open a new connection if the cleanup fails, and re-attempt the cleanup with that new connection.
That way, the cleanup task can be performed regardless of the migration success status.

[2019-10-10 07:23] fbiville commented on #227
Closing for now because of lack of details. Happy to re-open it once we know more about the situation.

[2019-10-10 07:23] #227 closed

[2019-10-14 05:48] fbiville commented on #220
Fixed in https://github.com/liquigraph/liquigraph/commit/09b8eb2514137f5b2e627b63068a625313774b8d. Feel free to re-open this issue if you encounter any problems.

[2019-10-14 05:48] #220 closed

[2019-10-28 12:02] mvitz commented on #241
@mattharr your change seems reasonable to me.

I'm not sure what to do in regards to backwards compatibility but I think it would be ok to wait until someone with an older schema happens to have the same issue with offline capability.

It would be nice if you could rebase your branch against the current `master` and try if the tests are now passing.

[2019-10-28 17:28] mattharr commented on #241
Hi,

Will do.  Meant to follow up on this, but didn't get round to it, but this
will be key for me being able to use liquigraph.  I'll rebase over the next
week, and let you know how I get on.

Cheers,

Matt

On Tue, 29 Oct 2019 at 01:02, Michael Vitz <notifications@github.com> wrote:

[2019-10-29 02:23] lcichero opened #248 "Liquigraph 3.1.0 throws error "java.lang.NoSuchFieldError: NULL" on startup when using neo4j-ogm version 3.2.1"
_Which versions and flavour (CLI, Maven...) of Liquigraph are you using?_
**Maven 3.3.9 and Liquigraph 3.1.0**

_Which language (and which version of that language) are you developing with?_
**Java 8 and Java 11**

_What operating system are you on?_
**Windows Pro 10 64-bits**

_Are you working with a cluster or on a single machine?_
**Single machine**

_What code are you running?_
[code]

_What e

[2019-10-29 03:15] lcichero commented on #248
I've just found that it does not work over BOLT protocol but it does work over HTTP.

[2019-11-03 09:24] mattharr commented on #241
Hi,
One of the changes made was to add and use a RedirectAwareEntityResolver, which I guess is useful if resolving over HTTP; but given this change is just looking to resolve from the local file system, do we get rid of that change?  Or can you think of a reason to keep it?

Cheers,

Matt

[2019-11-04 10:28] fbiville commented on #241
Does this mean that Liquigraph will **always** resolve schemas offline? If so, sure, you can get rid of `RedirectAwareEntityResolver`.

[2019-11-04 20:50] mattharr commented on #241
Hmm, good point.  No I think what I might do is chain the resolvers; I'll try the local file system one first, then if nothing from there use the redirect aware resolver.  That probably gives a more transparent resolution if other xsds are used.

[2019-11-18 17:05] mattharr commented on #241
Hi, I've reset my fork, and made the changes there; that is, I've added the chained entity resolution and two resolvers.  I haven't fully dug into the test errors, but hopefully that just the windows problem.  Does this look ok?

[2019-11-25 17:25] mymac80 opened #249 "New release"
Hi,

Can we have a new release please? Hoping to get this bug fix in there: https://github.com/liquigraph/liquigraph/issues/220 that was merged by @fbiville a few weeks back.

Thanks!

[2019-11-26 14:24] fbiville commented on #249
Yes, I will try to make some time this week.

[2019-11-26 17:11] ctytgat commented on #249
Would be nice if that could also include #248
(This is currently blocking upgrades to spring boot 2.2)

[2019-11-27 09:54] ctytgat commented on #248
This is actually caused by
https://github.com/neo4j-contrib/neo4j-jdbc/issues/208

There's an incompatibility between driver versions used by neo4j jdbc and ogm 3.2 ... :(

[2019-11-27 22:10] lcichero commented on #248
Oh ok, so it is not a Liquigraph issue but rather an issue of its dependencies.
Should I close this issue and mention this neo4j-contrib/neo4j-jdbc/issues/208?

[2019-11-28 11:34] fbiville commented on #248
You can keep this open, as we'll need to do something one way or another.

[2020-02-20 13:16] sey commented on #79
Hi there,

I'm facing the exact same issue. Tried with 3.0.4-SNAPSHOT and 3.1.0 on a Spring Boot project.
Tried with explicit and implicit schema validation.
Tried on a separate Java project with just LiquiGraph as a dependency.
Nothing works.

I tried on a different computer outside of the network where it is not working and it works, no problems.

I think the validation process as a strong depen

[2020-02-20 13:48] fbiville commented on #241
@mattharr would you mind opening a PR? I can take it from there.

[2020-02-20 13:49] fbiville commented on #79
@sey work has started and is tracked by this [issue](https://github.com/liquigraph/liquigraph/issues/241).

[2020-02-20 15:21] sey commented on #241
Just for information: @mattharr fork works with explicit schema validator but not with the implicit one.

[2020-02-20 15:29] fbiville commented on #241
@sey Thanks for giving it a try! Would you be interested in contributing the missing part? I can help.

[2020-02-20 16:30] sey commented on #241
I don't mind. I already tried. I wanted to add the same logic as what matt did with the resolvers but the `ImplicitSchemaValidator` is quite different. I was thinking setting a ResourceResolver on the validator would enable me to do the trick but it never gets called. So any hint would be appreciated.

[2020-02-20 17:56] mattharr commented on #241
Hi, I've created PR #250, hopefully its usable.  I do vaguely remember looking at the implicit resolver, but left it because it looked more involved.  If I get a chance over the weekend I'll try have a look and see if I can do something about it - or at least provide some thoughts.

[2020-02-24 16:12] sey commented on #193
I think I get you want to load complete db dumps from CSV.
I'm already using `LOAD CSV`... command in LiquiGraph and it works.
One limitation currently is that queries in a changeset are executed in a transaction which prevents the use of `USING PERIODIC COMMIT`.
It would be a nice addition while working on importing from CSV data to be able to mark a changeset as transaction-free (with an attribu

[2020-03-11 12:59] oferbar commented on #249
There's another issue with the current release, since it's using an older version of Neo4j jdbc driver 3.1.0.
As we run Blackduck scans, we are getting security high risk errors.
So this library must be updated to the latest neo4j 3.4.0 if we want to keep on using it...
Thanks

[2020-03-11 14:53] ctytgat commented on #249
@fbiville do you need help in creating a new release?
This is currently blocking for us so we'll have to either abandon this library or fix it ourselves somehow  ...

[2020-03-11 19:32] sey commented on #249
For info, the move to Neo4j JDBC 3.4.0 may have some impact on performance. It is great from a features (handling of dates) perspective (and security maybe). But the way the native driver is handled is not good. It basically creates a driver and a connection pool for every connection. And it closes the driver when closing the connection.

[2020-03-12 07:52] fbiville commented on #249
Let me try to have a release this week, then.
I'll merge the offline support afterwards and re-release.

[2020-03-12 08:01] oferbar commented on #249
Hi,
Thanks for the information!
Do you have any reference to that?
I'm interested to find out as we use the latest 3.x driver.
Thanks!

[2020-03-12 13:17] sey commented on #249
Does my own reference count? https://github.com/neo4j-contrib/neo4j-jdbc/issues/212

[2020-03-12 17:24] fbiville commented on #249
Doing the release now FYI.

[2020-03-12 18:31] fbiville commented on #249
https://github.com/liquigraph/liquigraph/releases/tag/liquigraph-3.1.1 (indices in Maven Central will update soon-ish)

[2020-03-12 18:31] #249 closed

[2020-03-12 18:32] fbiville opened #251 "Migrate to Github Actions"
- [x] basic workflow on Windows/Mac/Linux
    - [x] fix test on Windows
- [x] remote testing on Linux with Neo4j service container
- [x] deploy snapshots to Maven Central (only if branch == 'master', no PR / fork)
- [ ] 2.x workflow
- [ ] update badges

[2020-03-12 18:56] fbiville opened #252 "Get rid of Sonar quality gate"
This fails the CI and I very rarely look at it anyway.

[2020-03-13 10:59] ctytgat commented on #249
@fbiville thx. I was expecting this to fix also https://github.com/liquigraph/liquigraph/issues/248, but just saw that there is still no new jdbc driver available :(

[2020-03-13 11:06] ctytgat commented on #248
@fbiville Would it be an option to drop the jdbc driver and use the java bolt driver directly?

[2020-03-13 17:55] fbiville commented on #248
@ctytgat we need to support HTTP as well. We could come up with our own wrappers for the native Bolt Java driver and Neo4j APIs but that seems a bit like reinventing the wheel.

[2020-03-16 09:26] ctytgat commented on #248
Ok. According to the JDBC guys there should be a beta release this week.

[2020-03-17 13:18] #251 closed

[2020-03-17 13:18] #252 closed

[2020-03-17 13:24] fbiville opened #254 "Consider using TestContainers"

[2020-03-17 13:24] #226 closed

[2020-03-17 13:26] fbiville opened #255 "Migrate to JUnit 5"

[2020-03-17 18:26] bsideup commented on #254
"Consider"?! :D jk, ping me if you need help :)

[2020-03-18 09:35] sey commented on #226
I know you closed the issue yesterday, but I think it should remain open.

As of Neo4j 4.0, the JDK 11 is required.
I'm not an expert of what would be the best strategy to support Neo4j below 4.0 with JDK 8 and Neo4j 4.0 and above with JDK 11.
I'm working on an app which targets Neo4j 3.5 at the moment but we are going to have a Neo4j 4.0 cluster.
So I'm currently testing that app against Neo4j 4.

[2020-03-18 09:35] fbiville commented on #254
It's just a matter of time ;-)

[2020-03-18 09:40] fbiville commented on #226
@sey let's open an issue for Neo4j 4.0 support, as this will most likely require a new branch (or rather, `master` will become `3.x` and the new `master` will be for Neo4j 4.x).
This initial issue was about supporting JDK 11 for Liquigraph 3.x (/Neo4j 3.x) which does not make sense.

[2020-03-18 09:40] fbiville opened #257 "Support Neo4j 4.x"
- [x] build (without tests) passes
- [x] tests pass
- [x] CI pipeline is up-to-date
- [x] manually tested against an actual Neo4j 4.x instance
- [x] documentation for Liquigraph 4.x is ready (including the start page version matrix)

Note this won't be released before the JDBC driver is.

[2020-03-18 09:41] fbiville commented on #226
Here is it (mostly as a placeholder atm) https://github.com/liquigraph/liquigraph/issues/257
Feel free to post the "walls" you hit there.

[2020-03-18 13:40] fbiville commented on #257
@sey FYI, I got the build to pass (without running tests) on my fork's 4.x branch: https://github.com/fbiville/liquigraph/tree/4.x
It uses the latest JDBC Driver 4.x "snapshot", Neo4j 4.0 and JDK 11 as baseline.

I haven't checked the test failures yet and not ran Liquigraph against a Neo4j 4.x DB yet either.

[2020-03-20 10:26] fbiville opened #260 "Add JDBC driver versions in the build matrix"
Ideally, all 3.x drivers work with Liquigraph 3.x. Same goes with 2.x and 4.x.

[2020-03-24 09:50] fbiville commented on #257
`4.x` branch created.
We'll do the following changes once Liquigraph 4 goes GA:
- `master` -> `3.x`
- `4.x` -> `master`

[2020-03-24 10:37] fbiville commented on #257
http://www.liquigraph.org/4.x/index.html is published.

[2020-03-24 10:37] #257 closed

[2020-03-25 14:32] #260 closed

[2020-03-26 20:05] hikemachado commented on #241
Very Nice Fix!
When do you expect to have a version for neo4j 3.x available in Maven Repository?

[2020-03-27 10:21] fbiville commented on #241
Once I backport this change to 2.x and 4.x and I fix an unrelated CI issue, I'll release a new 2.x, 3.x and a first 4.x release candidate (within next week, hopefully).

[2020-03-27 12:40] fbiville commented on #248
@ctytgat have you had a chance to test the JDBC release?
Also, I'm considering adding an OGM and a Spring Data Neo4j sample. Ideas are welcome :)

[2020-03-27 12:43] fbiville commented on #190
Realistically not gonna happen. This requires too much work and let's not fragment the ecosystem even more than it is today.

[2020-03-27 12:43] #190 closed

[2020-03-27 12:46] ctytgat commented on #248
Hi, just noticed the 4.0.0 JDBC release, great! We don't use it directly, only through liquigraph...
Any idea of when we can expect a liquigraph update with this?

[2020-03-27 14:04] hikemachado commented on #241
Thanks a lot @fbiville , I started using this API this week. it's awesome.
really nice work!

 Any one can contribute fixing issues? I`d like to contribute.

Awesome Project
Congratulations

[2020-03-27 16:31] fbiville commented on #248
I have a CI issue to take care of, but a 4.0 Release Candidate should be out next week, hopefully.

[2020-03-27 16:32] fbiville commented on #248
Note there is also a recent 3.5.1 release for the JDBC driver that may work for you.
I just need to catch up on Neo4j 3.4 and 3.5 for Liquigraph 3.x.

[2020-03-27 16:35] fbiville commented on #241
@hikemachado absolutely, if you have a particular issue in mind, let me know else I can try to find one for you :)

[2020-03-27 19:41] hikemachado commented on #241
So, you can find one form me :)
thanks

[2020-03-30 15:11] fbiville commented on #172
After a discussion some time ago, let's stick to the basic schema we have.

[2020-03-30 15:11] #172 closed

[2020-03-31 17:44] #241 closed

[2020-04-02 10:23] fbiville opened #342 "Update license headers for 4.x"

[2020-04-02 10:23] fbiville opened #343 "Update license headers for master"

[2020-04-02 10:23] fbiville opened #344 "Update license headers for 2.x"

[2020-04-02 10:57] fbiville opened #348 "Configure CI for Neo4j 3.4 and 3.5"
Warning: this will require JDBC drivers 3.4.x and 3.5.x, which are not compatible with every Neo4j 3.x instance, contrary to previous JDBC driver versions.

[2020-04-02 11:55] #343 closed

[2020-04-02 12:49] fbiville opened #400 "Publish 2.x, 3.x recipes in custom homebrew-liquigraph tap"
Homebrew-Core will remain for the highest Liquigraph major version (currently 4.x).
This could be used for other versions (currently 2.x and 3.x).

[2020-04-02 13:29] #342 closed

[2020-04-02 13:29] #344 closed

[2020-04-02 13:56] fbiville opened #352 "[3.x] Configure CI to test main Spring Boot versions for the starter"

[2020-04-02 14:23] fbiville commented on #257
And 4.0.0 is out.

[2020-04-02 14:50] fbiville opened #353 "[4.x] Configure CI to test main Spring Boot versions for the starter"

[2020-04-02 14:51] fbiville opened #354 "[2.x] Configure autostaging for releases to Maven Central"

[2020-04-02 14:51] fbiville opened #355 "[3.x] Configure autostaging for releases to Maven Central"

[2020-04-02 14:51] fbiville opened #356 "[4.x] Configure autostaging for releases to Maven Central"

[2020-04-03 11:56] lorenz-nlp opened #357 "Liquigraph.xsd cannot be parsed anymore"
I use Liquigrah since some time for performing Neo4j database migrations, and I love your tool!

Since today, when running migrations in my development, but also production environment, following exception is being given:

[code]

I used Liquigraph version 3.1.0. The migrations are being performed via the Java API. As nothing has changed within my code or migration changesets, it seems like the li

[2020-04-03 12:47] alexlitvinenko commented on #357
Hi, faced the same issue.
Upgrade to 3.1.1

reason: https://github.com/liquigraph/liquigraph/commit/99ecdac2e103cd57309fb79711173d51e9f0b336

[2020-04-03 13:01] lorenz-nlp commented on #357
Thanks for your quick response. Updating to 3.1.1 indeed helps. However, already packaged applications with version 3.1.0 break and cannot be executed anymore.

[2020-04-03 13:04] alexlitvinenko commented on #357
@lorenz-nlp, Have you faced this issue?
[code]

[2020-04-03 13:11] lorenz-nlp commented on #357
No, the xsd-file is available, but it couldn't be parsed.

[2020-04-03 14:34] fbiville commented on #357
Ok, I know why this happens. I enforced HTTPS on the documentation site yesterday which is why it breaks.

[2020-04-03 14:35] fbiville commented on #357
I just unchecked the setting. This should fix the issue for 3.1.0 users.

[2020-04-03 14:35] #357 closed

[2020-04-03 16:24] fbiville opened #358 "[3.x] Replace Dagger example with simple core usage in main function"
The Dagger example is contrived and its tests are fragile.
A simple core usage such as the one documented in the "Java API" section [here](https://www.liquigraph.org/4.x/index.html) is enough in my opinion.

[2020-04-03 16:27] fbiville commented on #214
Let's replace this example: see https://github.com/liquigraph/liquigraph/issues/358.

[2020-04-03 16:27] #214 closed

[2020-04-03 16:28] fbiville opened #359 "[4.x] Replace Dagger example with simple core usage in main function"

[2020-04-03 16:29] fbiville opened #360 "[3.x] Add a simple Neo4j OGM example using Liquigraph"

[2020-04-03 16:29] fbiville opened #361 "[4.x] Add a simple Neo4j OGM example using Liquigraph"

[2020-04-03 16:30] fbiville commented on #218
Defined in https://github.com/liquigraph/liquigraph/issues/202.

[2020-04-03 16:30] #218 closed

[2020-04-03 16:33] fbiville commented on #241
@hikemachado feel free to pick an issue in the good first issues defined [here](https://github.com/liquigraph/liquigraph/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+no%3Aassignee). I can help you get started (easier to continue by Twitter or email for the next steps, though).

[2020-04-04 15:36] fbiville opened #362 "Introduce bill of materials POM for Liquigraph"
I think the time has come to introduce a BOM for Liquigraph.

As a reminder, here is Liquigraph current versioning and branching scheme:

1. Liquigraph 2.x is maintained on `2.x`, branch for Neo4j 2.x
1. Liquigraph 3.x is maintained on `master`, branch for Neo4j 3.x
1. Liquigraph 4.x is maintained on `4.x` branch for Neo4j 4.x

The BOM comes after facing several dependency management challenges:

[2020-04-04 16:01] fbiville opened #363 "[3.x] Fix checksum computation"
It seems that the checksum of changesets are only based on queries.
They should also include:

- author
- id
- preconditions
- postconditions

However, fixing that now is tricky as we need to migrate all the stored changesets from previous versions (basically, update their checksum to the new definition).
This means introducing another internal migration such as [this one](https://github.com/liqui

[2020-04-04 16:03] fbiville commented on #363
Even if we migrate the stored changesets, this still is a breaking change (previously modified changesets may now break if `run-on-change` is not set to `true`).

[2020-04-04 16:04] fbiville opened #364 "[2.x] Fix checksum computation"
It seems that the checksum of changesets are only based on queries.
They should also include:

- author
- id
- preconditions
- postconditions

However, fixing that now is tricky as we need to migrate all the stored changesets from previous versions (basically, update their checksum to the new definition).
This means introducing another internal migration such as [this one](https://github.com/liqui

[2020-04-04 16:04] fbiville opened #365 "[4.x] Fix checksum computation"
It seems that the checksum of changesets are only based on queries.
They should also include:

- author
- id
- preconditions
- postconditions

However, fixing that now is tricky as we need to migrate all the stored changesets from previous versions (basically, update their checksum to the new definition).
This means introducing another internal migration such as [this one](https://github.com/liqui

[2020-04-04 16:10] fbiville opened #366 "Documentation section title should be anchors"
That way, a specific section can be linked easily.

[2020-04-21 19:12] maximus321 opened #370 "[4.x] Support multiple graph database"
With [neo4j sdn-rx
](https://neo4j.github.io/sdn-rx/current/)

It is possible to have multiple segregated database, for example to support multi-tenancy.
Is it possible to support configuration that can handle multiple different database version? Would need to add a attribute "database" to specify on which database to run the migration.
I did not see any documentation or examples related to that.

[2020-04-21 19:46] maximus321 commented on #370
`Configuration configuration = new ConfigurationBuilder()
        .withMasterChangelogLocation("changelog.xml")
        .withUri("jdbc:neo4j:http://localhost:7474")
// TO-DO support database
.withDatabase("nameOfDatabase")
        .withRunMode()
        .build();
`

[2020-04-22 09:43] fbiville commented on #370
Thanks for the report!
Let me ask the JDBC driver team whether that feature is supported.

[2020-04-22 09:47] fbiville commented on #370
And it is: https://github.com/neo4j-contrib/neo4j-jdbc/tree/4.0#list-of-supported-neo4j-configuration-parameters (see the `database` parameter).
Let me know if you are interested in developing that feature, happy to offer guidance if needed.

[2020-04-22 13:03] maximus321 commented on #370
Sure Florent would be happy to contribute!
I'll clone the repo and start exploring the project, to see where this could be added
Any information appreciated

Un gros merci,
Max

[2020-04-22 13:13] fbiville commented on #370
Great! :)
As a starting point, the branch is `4.x`, not `master`.

## Liquigraph Core
The main classes impacted by this change are:

- [Configuration.java](https://github.com/liquigraph/liquigraph/blob/4.x/liquigraph-core/src/main/java/org/liquigraph/core/configuration/ConfigurationBuilder.java#L37)
- and its Builder companion [ConfigurationBuilder.java](https://github.com/liquigraph/liquigraph/bl

[2020-04-22 19:34] maximus321 commented on #370
Thanks for the help Florent,

I'm a bit noob with open-source, I get a 403 when trying to push to a feature branch to create a PR.
Is there something i'm missing?

My idea was to connect using Properties instead of passing username and password
i.e:
                return DriverManager.getConnection(uri, properties);

and construct this, eventually may want to support the other configuration if th

[2020-04-22 20:19] maximus321 commented on #370
Let me know if you can add me as contributor :)

Also, is this code still used?  uri not present? If not, could do a small cleanup meanwhile.
Merci!

`    private ConnectionConfiguration dataSourceConfiguration() {
        if (uri.isPresent()) {
            return new ConnectionConfigurationByUri(uri.get(), database, username, password);
        }
        return new ConnectionConfigurationByDataSo

[2020-04-22 20:50] maximus321 commented on #370
Ok my local branch is ready to open PR,

`    @Test
    public void should_use_default_database_if_database_not_provided() {

        Configuration configuration =  new ConfigurationBuilder()
                .withMasterChangelogLocation("changelog/changelog.xml")
                .withUri("jdbc:neo4j:http://localhost:7474")
                .withUsername("steve")
                .withPassword("passw

[2020-04-23 09:15] fbiville commented on #370
@maximus321 you need to fork this repository, add a new Git remote pointing to the fork repository, push there and open a new PR.

Regarding the other properties exposed by the JDBC driver, that's a very good point.
I think it would be a good idea to address that in a separate pull request.

[2020-04-23 14:17] maximus321 commented on #370
Thanks :)

Here is the PR:
https://github.com/liquigraph/liquigraph/pull/371/

May need some adjustment, feel free to comment

[2020-04-24 19:56] #370 closed

[2020-04-24 19:57] fbiville opened #372 "[3.x] Expose all underlying JDBC driver properties to Liquigraph configuration builder"

[2020-04-24 19:57] fbiville opened #373 "[4.x] Expose all underlying JDBC driver properties to Liquigraph configuration builder"

[2020-04-27 19:46] gonzalad opened #375 "CLI: JVM does't terminate when neo4j unavailable (version 4.0.0, bolt protocol and Jdk11)"
Hello,

When using the bolt protocol, the migration CLI hangs whenever the neo4j db is unavailable.

I'm executing my migrations with the following command line.

Am I doing something wrong ?

[code]

I'm using this jdk:

[code]

I suspect the JVM is waiting for Netty threads to terminate (thing that doesn't happen).

Thanks,
Adrian

P.S.: Here are my logs if they can be of any help

[code]

[2020-04-27 19:50] gonzalad commented on #375
I have no such issue with the bolt protocol with liquigraph 3.1.1 and jdk8

[2020-04-28 20:59] fbiville commented on #375
Thanks for reporting this @gonzalad, I'll look into.
Out of curiosity, is there a particular reason you are running with `java -jar` and not using the official CLI?

[2020-04-28 21:06] fbiville commented on #370
4.0.1 release includes this change, thanks again: https://github.com/liquigraph/liquigraph/releases/tag/liquigraph-4.0.1

[2020-04-29 19:22] gonzalad commented on #375
ThanksFlorent !

Only for testing reasons: I wanted to be sure to get the right exit status code. The class was called by a kubernetes init-task and I thought at first that the issue I had happened because the CLI was returning exist code 0.

I should have known that since the init task was stuck that it was not an exist status code issue :)

[2020-04-30 07:23] ihordz commented on #241
@fbiville
When it is planned to release version for 3.x branch with offline usage fix. Current one 3.1.1 does not include it.

[2020-04-30 14:43] fbiville commented on #241
@ihordz I wanted to first update CI with Neo4j 3.4 and 3.5 but it has been quite challenging.
I can do a release today so that does not get dragged any longer

[2020-04-30 15:04] fbiville commented on #241
@ihordz https://github.com/liquigraph/liquigraph/releases/tag/liquigraph-3.1.2 is now published (Maven Central repos are still syncing, but they will be probably be ready in a couple of hours with the 3.1.2 artifacts).

[2020-04-30 15:06] ihordz commented on #241
@fbiville
Thank you very much.

[2020-04-30 15:58] fbiville commented on #375
@gonzalad thanks for the bug report again. After investigation, this seems to be a JDBC driver issue, I just filed a bug [there](https://github.com/neo4j-contrib/neo4j-jdbc/issues/225)

[2020-05-04 18:55] maximus321 commented on #370
Hey Florent,

Seems to be an issue with the latest release, the code is still ran against the default "neo4j" DB here.
Ill check to see if I can find why

`
  private final static String DATABASE = "myDB";

  public static void main(String[] args) {
    Configuration configuration = new ConfigurationBuilder()
            .withMasterChangelogLocation("changelog.xml")
            .withUri("jdbc:neo4

[2020-05-05 09:02] fbiville commented on #370
Hello @maximus321, I just tried again with the 4.0.1 release and it seems to work fine.
[code]
I just alternated between databases `liquigraph1` and `liquigraph2` and everything went as expected. The default database `neo4j` remained untouched.

[2020-05-05 09:04] fbiville commented on #370
Oh, but I used the Bolt driver. It seems multi-database is not supported by the HTTP driver. I'll double-check with the JDBC driver team.

[2020-05-05 09:24] fbiville opened #379 "[4.x] Add multi-database support for HTTP"
Multi-database is only supported by the Bolt driver.
Configured a database for another driver should trigger an error.

[2020-05-05 09:26] fbiville commented on #370
After a quick investigation, Neo4j does not support multi-database in the REST API so configuring a database in that context should trigger an error. I just created https://github.com/liquigraph/liquigraph/issues/379 and will release the fix hopefully soon.

[2020-05-05 12:57] maximus321 commented on #370
I confirm it works with the bolt URI instead, thanks !

[2020-05-11 07:30] gonzalad opened #382 "Liquigraph and neo4j upgrade: how to handle existing migrations"
Hello,

We're going to upgrade from neo4j 3.x to neo4j 4.x.

Some of our liquigraph migrations use syntax that is no longer supported in Neo4j 4.x (see https://neo4j.com/docs/cypher-manual/current/deprecations-additions-removals-compatibility/).

For instance, I'll need to rewrite:

[code]

to

[code]

But rewritting migrations means that the MD5 checksum will change and liquigraph will throw an e

[2020-05-11 09:56] fbiville commented on #382
Hi @gonzalad, thanks for the report, that's a great question!
There is no official support for this situation and there should be!

In the meantime, I believe you can follow these steps:

1. effectively disable the faulty migration with a precondition (something like `RETURN false AS result`). That way, you can keep it around, comment why it's now disabled instead of removing it. Due to a bug that

[2020-05-11 15:14] gonzalad commented on #382
Thanks very much for your help @fbiville !

I'll try your suggestion for one or 2 queries (don't know how much I will have ATM).

At the same time, I'll try to hack some support for a clearCheckSums and make a PR.
Not sure that's the way you'll want to handle this kind of case in the future of liquigraph, but if it is and if the PR looks good enough, then everyone wins :)

Thanks,
Adrian

[2020-05-11 15:31] fbiville commented on #382
Awesome!

The change may be quite big and spread over different modules. May I suggest you focus the PR on the core module first?

You'd need to introduce a new method on `org.liquigraph.core.api.Liquigraph` (e.g. `clearChecksums`) and you can probably write the Cypher logic in a new class in the package `org.liquigraph.core.io` (make sure you rely on `GraphJdbcConnector` to connect to the databas

[2020-05-13 08:31] gonzalad commented on #382
Hi @fbiville, access to neo4j-users.slack.com seems to be restricted for individuals having an email ending with @neotechnology.com, @graphaware.com, @structr.com ou @neo4j.com.

So I won't be able to join you on slack.

In the meantime, I've just created the PR https://github.com/liquigraph/liquigraph/pull/385.

Very rough, I coded it before your last reply in this thread.

The quality is quite p

[2020-05-14 16:12] fbiville opened #386 "[4.x] Support neo4j JDBC scheme for Bolt+routing"

[2020-05-14 16:19] #386 closed

[2020-05-15 15:25] gfitrz opened #388 "How does versioning work?"
Hey,
I have question about db versioning cause i didn't find it in documentation.
How does versioning work? For example my changelog has a one changeset and I started liquigraph. If I run liquigraph once again, will it invoke changeset once again or maybe not?

That what I want achieve is that to run every changeset only once, no matter how many I run liquigraph.  And when I add another changeset,

[2020-05-15 17:27] fbiville commented on #388
Hi,

Thanks for asking.

Versioning is documented in the detailed documentation (e.g. see the "Changeset incrementality" section in https://www.liquigraph.org/4.x/index.html).

In short, Liquigraph persists the changesets in the target graph database.
By default, changesets :
- are executed only once (they are incremental)
- cannot be modified ever (they are immutable [checksum is persisted as wel

[2020-05-18 07:21] gfitrz commented on #388
Hi, thank you for the answer.
Yes now I understand it. :) Hard to say how can you improve implementation but explanation like this would be good in it. It really makes things clearer,

[2020-05-18 12:13] #254 closed

[2020-05-18 12:20] fbiville commented on #388
Thanks for the feedback. I'll work on [the docs](https://github.com/liquigraph/liquigraph.github.io/pull/6) today.

[2020-05-18 12:33] fbiville opened #390 "[3.x] Migrate to TestContainers"

[2020-05-18 13:39] fbiville commented on #388
I added a "Crash course" section at the beginning for each version:
- https://www.liquigraph.org/2.x/index.html
- https://www.liquigraph.org/3.x/index.html
- https://www.liquigraph.org/4.x/index.html
Feel free to reopen the issue if you think this can be further improved.

[2020-05-18 13:39] #388 closed

[2020-05-18 13:41] fbiville commented on #379
Actually, the JDBC HTTP driver should support multi-databases executions soon, here is the PR that adds the support: https://github.com/neo4j-contrib/neo4j-jdbc/pull/228/files.

[2020-05-18 13:42] fbiville commented on #379
Let's release once a new release of the JDBC driver happens.

[2020-05-19 17:51] hfgbarrigas commented on #248
Hi, any news regarding this?

Currently using the following versions and experiencing the same issue:

neo4j-ogm: 3.2.11
neo4j-jdbc-bolt: 3.5.1
liquigraph: 3.1.2

[2020-05-23 13:30] fbiville commented on #390
Currently blocked by https://github.com/testcontainers/testcontainers-java/issues/2770.

[2020-05-26 10:34] #348 closed

[2020-05-26 12:04] #390 closed

[2020-05-26 23:40] xenoterracide opened #396 ".cypher file changelogs"
So I'm pretty familiar with liquibase, less so with this (literally I only skimmed the getting started)  project and neo4j. what I'm basically asking for is this feature of liquibase https://docs.liquibase.com/concepts/basic/sql-format.html but obviously for cypher.

[2020-05-28 11:52] fbiville commented on #396
Hi, thanks for reporting this.

The only format is currently XML, with the `<query>` tag. This tag is roughly equivalent to Liquibase's [SQL tag](https://docs.liquibase.com/change-types/community/sql.html).

Is there a particular constraint here to avoid XML files?

[2020-05-28 15:26] xenoterracide commented on #396
verbose, and syntax highlighting doesn't tend to work well in them, also *if* there was a plugin introspecting the database, auto completion of nodes wouldn't work.

[2020-05-28 16:11] fbiville commented on #396
Auto-completion could work for either format, I think.

I sympathize with the issues you raise:
- it's indeed more verbose (for simple migration queries*)
- XML may not be the most popular format

*readability may suffer with pre- and post-conditions

However, there are advantages:
- you get to define a schema and validate against it (although it does not validate Cypher queries - this could be do

[2020-05-28 16:19] xenoterracide commented on #396
yeah but a lot of syntax parser's highlighters don't deal with nested languages, and even if they do they often do it poorly.

[2020-05-28 19:15] xenoterracide commented on #365
just reading this, I'm not sure it's true, afaik liquibase does not include these things... I've changed all of these properties in liquibase 3 without triggering a checksum failure. (maybe liquibase 4 is changing this?)

[2020-05-28 21:25] fbiville commented on #365
I haven't used liquibase for a while, I need to have a look at the codebase again.

That being said, it feels like the attributes listed also form the identity of a changeset. Changing any of them should result in a different changeset (though changing the id of a changeset is indeed the same as introducing a new changeset).

[2020-05-28 21:32] fbiville commented on #365
Though the rest is not part of the identity of a changeset, I feel that changing preconditions or postconditions is cheating a bit.
Once executed against a target database, a changeset should never change at all (by default).

[2020-05-28 21:37] xenoterracide commented on #365
just my 2 cents, and that's not how liquibase does it, but as you will. I think there are reasons for preconditions and postconditions... something like a changeset ran in one environment, passed them, then in another environment couldn't, and so you need to refine the precondition so that it will correctly do or do not in the new environment, think... making a change in staging against one set of

[2020-05-29 10:27] pelletier197 opened #398 "[4.x] Bolt+routing availability"
Hello,

I have a neo4j 4.0 application that needs to migrate a multi tenant database using liquigraph.

I am using the latest version of liquigraph (4.0.1), and there seems to be an issue when using bolt+routing protocol with this version.

I see that you fixed this issue really recently, but haven't yet released it. I hotfixed the issue on my side by copying all the configuration builder and skip

[2020-05-29 11:10] fbiville commented on #398
Hello, I'll do it now :)
I wanted to wait for https://github.com/neo4j-contrib/neo4j-jdbc/pull/228 to be released, but I can do another release once it's available.

[2020-05-29 11:17] fbiville commented on #365
@xenoterracide could you share documentation of the "multiple valid checksums" feature you mention? I'm interested in learning how that works :)

[2020-05-29 11:19] pelletier197 commented on #398
Wow that's awesome! Thank you 👌

[2020-05-29 11:46] fbiville commented on #398
[The release is done](https://github.com/liquigraph/liquigraph/releases/tag/liquigraph-4.0.2), it will take an hour or so before it is available on Maven Central.

[2020-05-29 11:46] #398 closed

[2020-05-29 12:04] fbiville opened #399 "[4.x] Add missing bolt+routing URL example in Maven plugin"
When going to https://liquigraph.org/4.x/maven-plugin/run-mojo.html, only Bolt and HTTP(s) are listed.

Just need to update [this documentation](https://github.com/liquigraph/liquigraph/blob/5187a8b158ecc1f50c26bfe5f5fe819040c9105a/liquigraph-maven-plugin/src/main/java/org/liquigraph/maven/LiquigraphMojoBase.java#L47-L53).

[2020-05-29 12:10] fbiville commented on #245
Now properly documented (see `Combining mutability and non-incrementality` in the detailed section of the docs).

[2020-05-29 12:10] #245 closed

[2020-05-29 12:19] fbiville commented on #400
See https://github.com/liquigraph/homebrew-liquigraph.

[2020-05-29 12:46] fbiville opened #401 "[4.x] Make CLI commands explicit"
Currently, dry-run vs. run is inferred from the presence of the `--dry-run-output-directory` flag.

Adding new commands and sharing common parameters amongst them is not possible unless we introduce specific dry-run and run commands.

I unsuccessfully tried to keep a default "run-or-dry-run" command and add explicit "dry-run" and "run" commands. The only way forward seems to get rid of this defaul

[2020-05-29 12:47] fbiville opened #402 "[2.x] Make CLI commands explicit"
Currently, dry-run vs. run is inferred from the presence of the --dry-run-output-directory flag.

Adding new commands and sharing common parameters amongst them is not possible unless we introduce specific dry-run and run commands.

I unsuccessfully tried to keep a default "run-or-dry-run" command and add explicit "dry-run" and "run" commands. The only way forward seems to get rid of this default

[2020-05-29 12:47] fbiville opened #403 "[3.x] Make CLI commands explicit"
Currently, dry-run vs. run is inferred from the presence of the --dry-run-output-directory flag.

Adding new commands and sharing common parameters amongst them is not possible unless we introduce specific dry-run and run commands.

I unsuccessfully tried to keep a default "run-or-dry-run" command and add explicit "dry-run" and "run" commands. The only way forward seems to get rid of this default

[2020-05-29 13:20] xenoterracide commented on #365
it's under available sub tags https://docs.liquibase.com/concepts/basic/changeset.html

<validCheckSum>

[2020-05-29 13:56] xenoterracide commented on #365
I was trying to find out how the checksum is calculated, but it turns out its really complicated, and depends on the subclasses of this https://github.com/liquibase/liquibase/blob/master/liquibase-core/src/main/java/liquibase/change/AbstractChange.java

[2020-06-01 12:09] #401 closed

[2020-06-29 13:22] fbiville opened #411 "[4.x] Rename master branch to 4.x"

[2020-06-29 13:23] fbiville opened #412 "[4.x] Investigate classpath issue between Spring Boot module and Neo4j 4.1.x"

[2020-06-30 18:09] AElMehdi commented on #366
Are we talking about the [website](https://www.liquigraph.org/4.x/index.html) ? If so, is it contained within this repo? Couldn't find it!

[2020-06-30 18:47] fbiville commented on #366
https://github.com/liquigraph/liquigraph.github.io

[2020-07-06 08:27] oferbar opened #415 "BeanCreationException error when database is unavailable"
We are using liquigraph in a Spring Boot application.
When the application is starting and Neo4j database is down or not available the application stops due to the - BeanCreationException.

Is there a way to to configure liquigraph not to fail and retry until the database is available?

[2020-07-06 09:40] fbiville commented on #415
@oferbar there is no retry mechanism yet in Liquigraph, but that could be definitely useful (even in the core module!)

[2020-07-28 18:04] AElMehdi opened #416 "Rename `master` to `4.x`"

[2020-07-28 18:45] AElMehdi opened #418 "[4.x] Change JDBC driver dependency scope to runtime"

[2020-07-28 20:22] fbiville commented on #416
Thanks :)

[2020-07-30 12:09] fbiville commented on #416
I will close as soon as I have access to the repo admin and can make `4.x` branch (and delete `master`).

[2020-07-30 12:56] fbiville commented on #416
Done! Thanks a lot!

[2020-07-30 12:56] #416 closed, assigned to nobody

[2020-07-30 12:57] #418 closed, assigned to nobody

[2020-07-30 12:57] fbiville opened #421 "[3.x] Change JDBC driver dependency scope to runtime"
See #420 for inspiration

[2020-07-30 12:57] fbiville opened #422 "[2.x] Change JDBC driver dependency scope to runtime"

[2020-07-30 12:58] fbiville commented on #411
Superseded by #416.

[2020-07-30 12:58] #411 closed

[2020-08-19 20:47] kristof-mattei opened #423 "CLI: Only one version deployed"
When the code gets built it only deploys the combination of neo4j and the driver specified in the initial `pom.xml` whereas the tests are run against a multitude of combinations.

I need a higher combination as for `3.x` the version deployed doesn't support `bolt+routing`, but there's a combination being built that does. Building that combination locally works perfectly.

Is there a reason these f

[2020-08-20 09:12] fbiville commented on #423
Thanks for the report.
There is currently a fix in progress that makes the JDBC driver a runtime-scoped dependency (which should have been from the beginning 😅).

In general, setting the right version of the JDBC driver is a _consumer_ POM concern, in my opinion.
The CI just makes sure that the "official" Neo4j/JDBC version combinations do not blow up.

As for the CLI, that remains a good question

[2020-08-31 05:12] JnMik opened #424 "[4.x] Liquigraph changeset execution triggers "Tried to execute Schema modification after executing Query""
Hello guys !

[code]

We have this 2 changesets following each other, and when Liquigraph try to execute the second one, we have this error:
**Tried to execute Schema modification after executing Query**

It seems to trigger the following Neo4j exception "Neo.ClientError.Transaction.ForbiddenDueToTransactionType"

_"The transaction is of the wrong type to service the request. For instance, a trans

[2020-08-31 10:35] fbiville commented on #424
Hi @JnMik, thanks for the report.

Liquigraph should already support this usecase (i.e. mixing some schema-related changesets and data-related ones).
It could be a regression.

What version and which module (core, Maven, CLI) are you using?

[2020-08-31 13:16] JnMik commented on #424
We run Liquigraph with 4.0.2 core.

I  believe the issue occurs because we upgrade to Neo4j 4.1.1 !

[2020-08-31 13:51] JnMik commented on #424
Do you plan supportin neo4j 4.1 anytime soon ?
It seems the neo4j odbc driver you use is stuck in the past (4.0.x) :(

[2020-08-31 15:21] pelletier197 commented on #424
I debugged a little the problem, and it seems to be because that Neo4j 4.1.1 does not allow executing a query and schema modification inside a single transaction (I think). This seems to be undocumented in the change logs of Neo4j...

[2020-08-31 15:47] fbiville commented on #424
A single transaction (which roughly translates to a Liquigraph changeset) can never mix schema and data operations, this is not a new limitation.
However, in the case above, there does not seem to be any mix of data/index write in any changeset, so it should work fine.
I'll try to find some time to reproduce the issue.

[2020-08-31 16:28] pelletier197 commented on #424
I digged a little more into this. Here's the changelog I used that should reproduce the error in `Neo4j 4.1.1-enterprise`
[code]
Sadly, the `db.index.fulltext` is considered a query and not a schema modification query, which is okay. Note that this did not cause any problem before Neo4j 4.1.x in our case.

My solution was to put those two queries into different migration changesets
[code]
which no

[2020-08-31 16:49] fbiville commented on #424
I see, it is all linked to `db.index.fulltext.createNodeIndex`, then.
I think that the solution of committing every query would not work as they would still be in the same transaction (JDBC Statement). Moving each query to its own separate transaction would break Liquigraph model, a failing query should cause the whole changeset to roll back.

I'll try to gather more information about transaction

[2020-09-16 15:31] manuelprinz opened #425 "Liquigraph does not seem to work with SDN/OGM"
First of all, thank you for providing Liquigraph to the graph community! :smiley:

I tried it with the sample project provided, but unfortunately I was not able to get Liquigraph to work in a different Spring Boot 2 project using Spring Data Neo4j and the Liquigraph Spring Starter (3.1.2). I suspect that the problem is on my side but after several hours I am stuck.

My project uses Neo4j via SDN/O

[2020-09-28 09:59] fbiville commented on #425
Hi @manuelprinz, thanks for reporting this.
Would you happen to be able to share the application source code?
Adding SDN/OGM test applications in Liquigraph CI is definitely on the TODO list!

[2020-09-29 18:20] Patouche opened #426 "Maven wrapper"
For now, maven should be installed locally.

As an alternative, we can maybe add the maven wrapper to this project to prevent this installation step.

[2020-09-29 19:07] fbiville opened #427 "[4.x] Add a simple Spring Data Neo4j example"

[2020-09-29 19:07] fbiville opened #428 "[3.x] Add a simple Spring Data Neo4j example"

[2020-09-29 19:08] fbiville opened #429 "[2.x] Add a simple Spring Data Neo4j example"

[2020-09-29 20:35] fbiville commented on #365
Thanks @xenoterracide. Having multiple checksums could come in handy in some scenarios (such as upgrading Neo4j that brings incompatible cypher changes that forces to rewrite some of the changeset queries).
However, the focus of this issue, i.e. revising how checksum is computed, is not a good idea, as you proved it well.
Thanks a lot for chiming in!

[2020-09-29 20:35] #365 closed

[2020-09-29 20:35] fbiville commented on #363
See https://github.com/liquibase/liquigraph/issues/365 on the reason why this won't be implemented.

[2020-09-29 20:35] #363 closed

[2020-09-29 20:36] fbiville commented on #364
See #365 on the reason why this won't be implemented.

[2020-09-29 20:36] #364 closed

[2021-01-12 12:35] paolodedo opened #433 ""Failed to remove __LiquigraphLock. Trying again with new connection" error"
Hello @fbiville ,

🟢Neo4j server: 4.2-aura Neo4j Enterprise Edt.
🟢SpringBoot: 2.4.1 (SDN 6.0.2)

🟢https://www.liquigraph.org/4.x/index.html : I am using Spring Boot approach.

🟢My changelog.xml:

[code]

🟢My pom.xml:

[code]

🟢My application.yml:

[code]

🔴🔴What happens is that Liquigraph returns:

[code]

Thanks.

[2021-01-12 15:27] fbiville commented on #433
Thanks for reporting the issue!
Unfortunately, the stack trace does a bad job at showing what the problem.
The problem is actually quite simple: you can only connect to an Aura instance with Bolt, so you'll have to use the JDBC Bolt driver instead.

[2021-01-12 15:38] paolodedo commented on #433
I have even tried with bolt..I think this is exactly what you are talking about.

-> `Caused by: java.lang.RuntimeException: Driver org.neo4j.jdbc.bolt.BoltDriver claims to not accept jdbcUrl, jdbc:bolt:http://localhost`

But why letting choose it, from application.yml?

![image](https://user-images.githubusercontent.com/25491113/104336133-6220c400-54f4-11eb-94a7-9a0614599e94.png)

Are there any o

[2021-01-12 15:43] fbiville commented on #433
I was about to update my previous comment :)

You have to configure the URL to be like `jdbc:neo4j:neo4j://HOST?encryption=true` and the driver class to be `org.neo4j.jdbc.boltrouting.BoltRoutingNeo4jDriver`.
I just tried it and it works.

[2021-01-12 15:50] fbiville commented on #433
Let me know what kind of information is missing from the documentation so that I can complete it.

[2021-01-12 15:52] fbiville commented on #433
For easier configuration in the future, I filed:
- https://github.com/neo4j-contrib/neo4j-jdbc/issues/248
- https://github.com/neo4j-contrib/neo4j-jdbc/issues/249

[2021-01-12 17:06] paolodedo commented on #433
Thank you very much, it works this way (for local env, sufficient use ?encryption=false).

I think that, as Liquigraph docs is at the moment, is a little bit confusing and useless, since I have tried everything but didn't manage, on my own, to get it worked:

- starting from changelog.xml, Cypher syntax (ex: 'IS NOT NULL' doesn't work but is present on Neo4j Cypher's docs)
- datasource's url and d

[2021-01-12 17:06] #433 closed, assigned to nobody

[2021-01-12 17:11] fbiville commented on #433
Hi, thanks for the feedback.
`neo4j-jdbc-driver` brings every Driver implementation (HTTP and Bolt) instead of a single one.
I will clarify the documentation to explain that.

I will also add the variant Driver class names and URLs.

Wrt to `IS NOT NULL`, this is another documentation altogether, i.e. the Cypher manual. Maybe the selected version can be made more visible?

[2021-01-12 17:50] paolodedo commented on #433
Ok thank you very much :)

Yes, it is another doc, I know, but it could be useful to report these two examples (Unique and NotNull) on Liquigraph's doc as a lot of people in the web are trying to get them working.

[2021-02-17 14:07] sintezcs commented on #240
hey, any updates on this?

[2021-02-17 14:54] fbiville commented on #240
Hello. I have been working on a Neo4j plugin for Liqui**base**: https://github.com/liquibase/liquibase-neo4j.
It will be released soon and supports rollbacks among other things.

There won't be any migration helper from Liquigraph in that first release, but that will be included in the next one.

[2021-03-12 07:45] manuelprinz commented on #425
Hi @fbiville, sorry for not getting back to you! I missed it and it fell through the cracks…

I just gave the issue another go and it seemed to work! I think I confused myself a bit there… I added the following configuration to `application.yml`:
[code]
Which seemed to work fine. This is reproducible on a small demo project (straight from Spring starter) with JPA and Neo4j enabled. If you configur

[2021-03-12 08:35] manuelprinz commented on #425
Small addendum: It (obviously) fails when using the embedded database in testing because that uses the native driver.

[2021-03-30 18:12] fbiville opened #447 "Support transition path to Liquibase Neo4j plugin"
Following tasks to fully support [Liquigraph](https://www.liquigraph.org/) users in their transition to [Liquibase for Neo4j](https://neo4j.com/labs/liquibase/):
 - [x] liquibase/liquigraph#445
 - [x] liquibase/liquigraph#446
 - [x] update documentation

[2021-03-30 18:13] fbiville opened #445 "Expose a command to migrate Liquigraph XML to Liquibase XML"
Only unsupported Liquigraph feature: postconditions.
In that case, the command should halt with an explicit error message

[2021-03-30 18:14] fbiville opened #446 "Automatically convert Liquigraph's persisted history graph to Liquibase history graph structure"

[2021-06-17 09:11] DirkMahler opened #434 "Improve transaction handling for better robustness in error cases"
We're running liquigraph during the startup of a (Spring based) microservice. We got issues when our infrastructure (for whatever reasons...) decided to kill the process while running the migrations. The effect that we see is that the actual content of a changeset is applied (e.g. creation of a constraint) but the changelog is not written.

For that reason it would be better to have the execution

[2021-06-17 09:45] fbiville commented on #434
Hi @DirkMahler, I'm in the process of deprecating Liquigraph in favor of https://github.com/liquibase/liquibase-neo4j, a native Liquibase plugin for Neo4j.
I currently need to finalize a migrator from Liquigraph to Liquibase, let me know if you want early access to this.

[2021-06-17 13:03] DirkMahler commented on #434
Just noticed that creating a constraint & updating data (nodes/relations/properties) is not allowed by Neo4j within the same transaction. So using transactions to improve robustness in case of failure is not an applicable solution.

[2021-06-17 13:43] fbiville commented on #434
Indeed, these need to be in separate transactions.

[2021-06-24 06:50] DirkMahler commented on #434
We did a deeper investigation of the issue on our side and it turned out that things are a bit different than we thought initially:

We're using a Neo4j cluster and the master changed while trying to update the changelog. This ended up in an `SessionExpiredException` reporting that the master `no longer accepts writes`.

According to https://github.com/neo4j/neo4j-java-driver/issues/522#issuecomme

[2021-06-24 09:21] fbiville commented on #434
I recently worked on the JDBC driver to rely on transaction functions instead of raw `session.run`, but that has not been released yet.
I suppose the issue will be hard to reproduce, but does using the latest 4.0 https://github.com/neo4j-contrib/neo4j-jdbc help at all?

And by the way, you are 100% right, the Liquibase plugin relies on the same JDBC driver

[2021-07-02 09:09] DirkMahler commented on #434
I'll try to reproduce the issue locally and check, if the JDBC snapshot fixes it. Should be possible to do it manually by juggling around with breakpoints and container startups/shutdowns.

[2021-07-02 13:52] DirkMahler commented on #434
Good and bad news:

* Good News: I can reproduce the issue locally.
  * Create a Neo4j cluster using Docker Compose according to https://neo4j.com/docs/operations-manual/current/docker/clustering/.
  * Add a break point in org.liquigraph.core.io.ChangelogGraphWriter#write right after executeStatement() and run the migration in the IDEs debugger
  * If the break point is reached, check in the Neo4j

[2021-07-02 15:51] fbiville commented on #434
So, internally, it seems statements are not executed in transaction functions but in explicit transactions.
I need to confirm this, but I believe the retry mechanism is exercised only for transaction functions, not explicit transactions.
However, I'm quite confident that Spring Data Neo4j uses explicit transactions and implemented an [optional retry mechanism](https://github.com/spring-projects/sp

[2021-07-02 16:19] DirkMahler commented on #434
I've played around a bit with the JDBC driver & Liquigraph. It seems that I could at least reduce probability of running into that problem by doing a little change to Liquigraph itself:

Currently the write JDBC connection is kept as a field in the ChangelogGraphWriter. I removed it but instead now a "fresh" connection is acquired from the connectionSupplier for executing the changeset and updatin

[2021-07-02 16:25] fbiville commented on #434
As long as we keep 1 transaction per change set, we can indeed break the single connection into several ones, I don't think that should be an issue 👍
Please note that Liquigraph will go into minimal maintenance mode pretty soon.

I'll have to double-check how the Neo4j plugin for Liquibase behaves in the same scenario.

[2021-07-06 07:20] DirkMahler commented on #434
PR #435 has been created,  the changes IMHO are straight forward and hopefully not too invasive.

[2021-07-07 15:11] #434 closed, assigned to nobody

[2021-07-07 16:12] fbiville commented on #425
@manuelprinz property reuse is indeed your best bet.
Since https://github.com/liquibase/liquibase-neo4j is available and replaces Liquigraph, I'm afraid this issue won't be worked on. Thanks for the great suggestion nonetheless!

[2021-07-07 16:12] #425 closed, assigned to nobody

[2021-07-07 16:12] #427 closed, assigned to nobody

[2021-07-07 16:12] #428 closed, assigned to nobody

[2021-07-07 16:12] #429 closed, assigned to nobody

[2021-07-07 16:14] fbiville commented on #415
A retry mechanism is planned for the JDBC driver (and this is something that will be used by the replacement of Liquigraph: https://github.com/liquibase/liquibase-neo4j) /cc @conker84

[2021-07-07 16:14] #415 closed, assigned to nobody

[2021-07-07 16:14] #399 closed

[2021-07-07 16:15] fbiville commented on #396
@xenoterracide hi, multi-format (including Cypher, aka "SQL") is supported by the successor of Liquigraph: https://github.com/liquibase/liquibase-neo4j.
A migration path from Liquigraph to Liquibase is on its way.

[2021-07-07 16:15] #396 closed

[2021-07-07 16:16] fbiville commented on #382
@gonzalad this kind of scenario is fully supported by the successor of Liquigraph: https://github.com/liquibase/liquibase-neo4j. A migration path from Liquigraph to Liquibase is on its way.

[2021-07-07 16:16] #382 closed

[2021-07-07 16:16] fbiville commented on #375
Just waiting for a JDBC release for this one.

[2021-07-07 16:17] #255 closed

[2021-07-07 16:17] #352 closed

[2021-07-07 16:17] #353 closed

[2021-07-07 16:17] #354 closed

[2021-07-07 16:17] #355 closed

[2021-07-07 16:17] #356 closed

[2021-07-07 16:17] #358 closed

[2021-07-07 16:17] #359 closed

[2021-07-07 16:17] #360 closed

[2021-07-07 16:17] #361 closed

[2021-07-07 16:17] #362 closed

[2021-07-07 16:17] #366 closed

[2021-07-07 16:17] #372 closed

[2021-07-07 16:17] #373 closed

[2021-07-07 16:17] #400 closed

[2021-07-07 16:17] #175 closed

[2021-07-07 16:17] #193 closed

[2021-07-07 16:17] #202 closed

[2021-07-07 16:17] #208 closed

[2021-07-07 16:17] #210 closed

[2021-07-07 16:18] fbiville commented on #240
This is supported by the successor of Liquigraph: https://github.com/liquibase/liquibase-neo4j.
A migration path from Liquigraph to Liquibase is on its way.

[2021-07-07 16:18] #240 closed

[2021-07-07 16:18] #138 closed

[2021-07-07 16:18] #146 closed

[2021-07-07 16:19] fbiville commented on #379
The JDBC fix is part of the latest release: https://github.com/liquibase/liquigraph/releases/tag/liquigraph-4.0.3

[2021-07-07 16:19] #379 closed

[2021-07-07 16:19] #412 closed

[2021-07-07 16:20] fbiville commented on #423
Feel free to reopen the issue if you have any question.
The JDBC driver dependency scope has been fixed in the latest release: https://github.com/liquibase/liquigraph/releases/tag/liquigraph-4.0.3

[2021-07-07 16:20] #423 closed, assigned to nobody

[2021-07-07 16:20] #402 closed

[2021-07-07 16:20] #422 closed, assigned to nobody

[2021-07-07 16:21] fbiville commented on #426
Liquigraph is now replaced by the Neo4j plugin for Liquibase: https://github.com/liquibase/liquibase-neo4j.

[2021-07-07 16:21] #426 closed, assigned to nobody

[2021-07-07 16:21] fbiville commented on #248
The latest release (https://github.com/liquibase/liquigraph/releases/tag/liquigraph-4.0.3) contains the JDBC fix.

[2021-07-07 16:21] #248 closed

[2021-07-07 16:22] fbiville commented on #159
Currently working on https://github.com/fbiville/liquigraph-docs FYI. Almost complete.

[2021-07-08 18:19] chenrui333 opened #438 "Liquigraph 4.0.3 Homebrew update failure"
👋 trying to build the latest release, but run into some build issue. The error log is as below:

<details>
<summary>build failure</summary>

[code]

</details>

relates to https://github.com/Homebrew/homebrew-core/pull/80789
full build log, https://github.com/Homebrew/homebrew-core/runs/3016282942

[2021-07-08 18:40] fbiville commented on #438
Thanks, there is indeed a breaking change in 4.0.3: https://github.com/liquibase/liquigraph/releases/tag/liquigraph-4.0.3.

The `illegal reflective access` is a warning to Java 9 module system that allows stronger encapsulation, but that should not be a blocker.

[2021-07-13 07:16] manuelprinz commented on #425
@fbiville, thank you very much for taking the time to reply! I will have a look at the Liquibase Neo4j plugin. Thank you for the pointer, I would have missed it!

[2021-07-14 16:37] katadonutskuri opened #439 "Parameterized query and read from data file"
Hi

I took a look at the documentation website, and didn't see mentions of parameterized queries and being able to read from a data file. Is this supported (I assume not since it's not there in the docs)? The reading from data files is for updates that are like 10k+, which obviously a person can't manually add those query tags to the xml file.

Or is there a way to code it in Java and run it that

[2021-07-16 11:54] fbiville commented on #439
Hello, Liquigraph is going to its End of Life, and is being replaced by https://github.com/liquibase/liquibase-neo4j, the Neo4j plugin for Liquibase.
Since it's a Liquibase plugin, it supports most of the main features, including Cypher file inclusion.

There is no support for parameterized queries in Liquigraph.

Liquibase supports [changelog properties](https://docs.liquibase.com/concepts/basic/

[2021-08-02 09:55] suhasbhairav opened #440 "Postgres and neo4j migration queries in the same Spring Boot project"
How to handle both postgres and neo4j migration queries in the same project? I'm getting `"Could not ensure __LiquigraphLock uniqueness"` error when sql for postgres and changelog.xml for neo4j is present.

Neo4j version: 3.5.1

The stack trace is given below:
[code]

[2021-08-02 13:09] fbiville commented on #440
Thanks for the report.
What version of Liquigraph are you using @suhasbhairav?

What seems to happen here is that Liquigraph is configured with the Postgres JDBC data source, not the Neo4j one, so syntax errors will happen.
How do you configure Liquigraph? Can you share the code/config files?

[2021-08-03 13:09] suhasbhairav commented on #440
@fbiville Thank you for your reply.

[code]

The configuration above is the YAML file configuration for the project. Can you let me know if there is something missing from my side?

[2021-08-03 15:14] WilliamDWelch opened #441 "301 moved permanently error"
I created a stack-overflow ticket yesterday because we couldn't get our project that uses this to start due to XSD files missing. https://stackoverflow.com/questions/68628353/liquigraph-schema-files-missing

That issue seems to be mostly resolved in that I'm getting a new error. The new error seems to still be related to missing files though. I'm getting:

`2021-08-03 08:02:05.631 ERROR 16101 ---

[2021-08-03 16:04] fbiville commented on #441
Let's continue the conversation here. Copy-pasting my last comment:

[2021-08-03 16:07] fbiville commented on #424
If `db.index.fulltext.createNodeIndex` is indeed not a schema operation anymore, there is nothing else to do than move it to its separate change set.

[2021-08-03 16:07] #424 closed, assigned to nobody

[2021-08-03 16:18] fbiville commented on #440
Since Liquigraph is not explicitly configured, it will pick up the default configured data source (via `spring.datasource.*`), which is currently Postgres.

The easiest way about this is to configure Liquigraph specific properties, which have higher precedence over the (auto-configured) data source bean:

[code]

[2021-08-03 16:19] fbiville commented on #440
Before I forget, Liquigraph will reach it end of life soon.
You should consider using https://neo4j.com/labs/liquibase/ instead.

[2021-08-03 16:44] WilliamDWelch commented on #441
I think I'm using 3.0.3 if I am interpreting the pom.xml file correctly. I didn't set up the project so I guess I'm not positive about that. Can I configure maven to use the https version?

[2021-08-03 16:51] fbiville commented on #441
You should try upgrading the plugin to `3.1.2`. Please report back if it does not solve the problem.

[2021-08-03 17:04] WilliamDWelch commented on #441
Ok perfect that fixed it. Thank you very much! Livesaver.

[2021-08-03 17:04] #441 closed, assigned to nobody

[2021-09-09 09:12] #438 closed, assigned to nobody

[2021-09-09 09:13] fbiville commented on #375
Hello, you could try the [4.0.3](https://github.com/neo4j-contrib/neo4j-jdbc/releases/tag/4.0.3) version of the JDBC driver and the problem should be gone.

[2021-09-09 09:14] fbiville commented on #159
and it's live now!

[2021-09-09 09:14] #159 closed

[2021-09-09 09:15] fbiville commented on #440
Did you solve your problem @suhasbhairav?

[2021-09-09 09:15] #439 closed, assigned to nobody

[2021-09-13 17:05] fbiville commented on #375
The fix has been merged, I will push another 4.x release once https://github.com/liquibase/liquigraph/pull/444 is merged. Thanks for the initial report!

[2021-09-13 17:05] #375 closed

[2021-09-13 17:06] fbiville commented on #440
Closing for now. Feel free to reopen @suhasbhairav if you consider this to still be an issue.

[2021-09-13 17:06] #440 closed, assigned to nobody

[2021-09-14 07:23] suhasbhairav commented on #440
Sorry for the late reply. We are yet to solve it as we are still working on it. But I'll let you know if it's need to be reopened. @fbiville ..Thank you.

[2021-09-23 15:56] fbiville commented on #445
Fixed with https://github.com/liquibase/liquigraph/commit/8be12c631d237648de497656472ed8cddf01888a

[2021-09-23 15:56] #445 closed, assigned to nobody

[2022-01-23 19:54] fbiville commented on #446
Fixed with 3e0955a07613a4bc5095ffcfcb11fb0530850a76

[2022-01-23 19:54] #446 closed, assigned to nobody

[2022-01-23 19:55] fbiville commented on #447
Will update docs before release.
In the meantime: https://github.com/fbiville/liquigraph-to-liquibase

[2022-01-23 19:55] #447 closed, assigned to nobody

[2022-01-23 19:56] fbiville opened #461 "[3.x] Add migration utility to Liquibase"

[2022-02-23 13:19] #421 closed, assigned to fbiville

[2022-02-24 11:50] #403 closed

[2022-03-17 10:09] fbiville commented on #461
This one will be implemented if someone requests for it.
For the time being, the repository will be archived.